In [1]:
import sqlite3
import pandas as pandas

db_path = 'tmp/20241119_171245/flow_metrics.db'
conn = sqlite3.connect(db_path)
cursor = conn.cursor()

# Convert to df
df = pandas.read_sql_query("SELECT * FROM flow_metrics", conn)
df

,flow_id,sender_ip,receiver_ip,flow_size,start_time,end_time,fct,throughput_mbps,latency_ms,type
0,1046,10.0.6.6,10.0.2.2,73,1.732036e+09,1.732036e+09,0.018357,0.031813,18.357277,background
1,1030,10.0.4.4,10.0.7.7,29789,1.732036e+09,1.732036e+09,0.006920,34.438843,6.919861,background
2,100,10.0.1.1,10.0.7.7,1334,1.732036e+09,1.732036e+09,0.004659,2.290417,4.659414,background
3,108,10.0.2.2,10.0.1.9,256040,1.732036e+09,1.732036e+09,0.011230,182.401154,11.229753,background
4,1036,10.0.5.5,10.0.6.6,138,1.732036e+09,1.732036e+09,0.004119,0.268016,4.119158,background
...,...,...,...,...,...,...,...,...,...,...
973,1034-46,10.0.4.4,10.0.2.2,340,1.732036e+09,1.732036e+09,0.003029,0.897883,3.029346,background
974,1016-71,10.0.2.2,10.0.4.4,483,1.732036e+09,1.732036e+09,0.002761,1.399308,2.761364,background
975,1077-88,10.0.8.8,10.0.5.5,492,1.732036e+09,1.732036e+09,0.004382,0.898242,4.381895,background
976,1037-71,10.0.5.5,10.0.7.7,7571,1.732036e+09,1.732036e+09,0.006183,9.796414,6.182671,background
977,1038-72,10.0.5.5,10.0.2.10,483,1.732036e+09,1.732036e+09,0.003877,0.996728,3.876686,background

In [5]:
# Order dataframe by start_time
df = df.sort_values(by='start_time')
# Show start_time and type if type is bursty
df[df['type'] == 'bursty'][['start_time', 'type']]

       start_time    type
127  1.732036e+09  bursty
123  1.732036e+09  bursty
124  1.732036e+09  bursty
129  1.732036e+09  bursty
126  1.732036e+09  bursty
..            ...     ...
532  1.732036e+09  bursty
524  1.732036e+09  bursty
530  1.732036e+09  bursty
545  1.732036e+09  bursty
527  1.732036e+09  bursty

[195 rows x 2 columns]