In [3]:
import sqlite3
import os

data_dir = "data/distributions"
info_name = 'inter_arrival_time'
table_name = 'inter_arrival'
# conn = sqlite3.connect(os.path.join(data_dir, f'cache_background_{info_name}_db_1.000000_flowmult_11.850000_intermult_0.db'))
conn = sqlite3.connect(os.path.join(data_dir, f'web_bursty_{info_name}_db_1.000000_flowmult_0.110000_intermult_40_flow_per_incast_20000_flow_size_0.db'))
cursor = conn.cursor()

# Fetch table structure
cursor.execute(f"PRAGMA table_info({table_name});")
columns = cursor.fetchall()
print(f"Columns in {table_name}:", columns)

# Fetch and display sample data
cursor.execute(f"SELECT * FROM {table_name} LIMIT 10;")
rows = cursor.fetchall()
for row in rows:
    print(row)

# Close the connection
conn.close()

Columns in inter_arrival: []

OperationalError: no such table: inter_arrival

In [2]:
import pandas as pd
import numpy as np

db_paths = {
    'flow_ids': '/home/ubuntu/p4burst/data/distributions/cache_background_flow_ids_db_1.000000_flowmult_11.850000_intermult_0.db',
    'flow_size': '/home/ubuntu/p4burst/data/distributions/cache_background_flow_size_db_1.000000_flowmult_11.850000_intermult_0.db',
    'inter_arrival_time': '/home/ubuntu/p4burst/data/distributions/cache_background_inter_arrival_time_db_1.000000_flowmult_11.850000_intermult_0.db',
    'server_idx': '/home/ubuntu/p4burst/data/distributions/cache_background_server_idx_db_1.000000_flowmult_11.850000_intermult_0.db'
}

# Dictionary to store dataframes
dataframes = {}

# Process each database file
for aspect, db_path in db_paths.items():
    # Connect to the database
    conn = sqlite3.connect(db_path)
    
    # Extract the table name (assuming a single table in each db)
    cursor = conn.cursor()
    cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
    table_name = cursor.fetchone()[0]
    print(table_name)
    
    # Load the table into a DataFrame
    df = pd.read_sql_query(f"SELECT * FROM {table_name}", conn)
    dataframes[aspect] = df

    # Display first few rows
    print(f"{aspect} data:")
    print(df.head())
    
    # Close the connection
    conn.close()

    # Retrieve the specific column for this server's host ID
    # if 'server0app1' in df.columns:
    #     print(df['server0app1'].replace('', np.nan).dropna().tolist())
    # else:
    #     print('NO')

flow_ids
flow_ids data:
  server0app1 server1app1 server2app1 server3app1 server4app1 server5app1  \
0         100         108        1017        1030        1036        1046
1         101         109        1018        1031        1037        1047
2         102        1010        1019        1032        1038        1048
3         103        1011        1020        1033        1039        1049
4         104        1012        1021        1034        1040        1050

  server6app1 server7app1 server8app1 server9app1  ... server310app1  \
0        1058        1077        1088        1095  ...        102976
1        1059        1078        1089        1096  ...        102977
2        1060        1079        1090        1097  ...        102978
3        1061        1080        1091        1098  ...        102979
4        1062        1081        1092        1099  ...        102980

  server311app1 server312app1 server313app1 server314app1 server315app1  \
0        102983        102992        102997        103009        103015
1        102984        102993        102998        103010        103016
2        102985        102994        102999        103011        103017
3        102986        102995        103000        103012        103018
4        102987        102996        103001        103013        103019

  server316app1 server317app1 server318app1 server319app1
0        103024        103030        103040        103050
1        103025        103031        103041        103051
2        103026        103032        103042        103052
3        103027        103033        103043        103053
4        103028        103034        103044        103054

[5 rows x 320 columns]
flow_size
flow_size data:
  server0app1 server1app1 server2app1 server3app1 server4app1 server5app1  \
0        1334      256040        5645       29789         138          73
1        2710      648035     2942082         380        7571       62047
2        1180         484         340     3093182         483      417297
3         540     3088642        4209         541        2021         138
4         492      210616         375         340     3088642      210616

  server6app1 server7app1 server8app1 server9app1  ... server310app1  \
0      173238         492         490         344  ...           492
1        1507         346     1723202      311261  ...           540
2         352       34078     2803548     2803548  ...        210616
3         144     3405492      311261         540  ...          4209
4     2942082         712         490      282306  ...           344

  server311app1 server312app1 server313app1 server314app1 server315app1  \
0         34078            51          3138           340          2021
1           454       1723202           667       2802778           380
2           476           541           375         62047           712
3        360391        648035       2013392       3405492       1723202
4          1029           476        210616        149613         29789

  server316app1 server317app1 server318app1 server319app1
0       1641375        256040         62047       2013392
1           667        360391           454           490
2        311261           733        210616          2710
3           346        173238           346       1899433
4       1743320         96360        311261           540

[5 rows x 320 columns]
inter_arrival
inter_arrival_time data:
      server0app1     server1app1     server2app1     server3app1  \
0  0.214552127334  0.040532391654  0.073308783610  0.096549266754
1  0.680029284087  0.445396436634  0.027658026051  0.445396436634
2  0.116794284225  0.052772970871  0.272764892797  0.013241464322
3  0.021581301792  0.000938171131  0.002432207117  0.384948427327
4  0.052772970871  0.063601739178  0.029398067858  0.174559498488

      server4app1     server5app1     server6app1     server7app1  \
0  0.295550152206  0.136866109033  0.026993963703  0.031749177946
1  0.000938171131  0.181780439246  0.007374706659  0.384799149786
2  0.050673662421  0.001799605717  0.050673662421  0.097365980369
3  0.019101538666  0.284970172103  0.214552127334  0.036609762221
4  0.272764892797  0.038924599630  0.002033220679  0.036603292134

      server8app1     server9app1  ...   server310app1   server311app1  \
0  0.164189768541  0.000878078318  ...  0.202106767095  0.181780439246
1  0.473409173056  0.262764379702  ...  0.223669107247  0.000830265352
2  0.000270800600  0.639751399868  ...  0.111767615608  0.105694741102
3  0.153671388246  0.151436832259  ...  0.237531433394  0.425937235807
4  0.037186461229  0.000479007000  ...  0.082471008803  0.000781058362

    server312app1   server313app1   server314app1   server315app1  \
0  0.362222757949  0.000354690528  0.009958842731  0.137538035514
1  0.521992865305  0.105694741102  0.002288058515  0.213720735554
2  0.024481108876  0.362169410451  0.145445877227  0.000506618713
3  0.272764892797  0.000331973114  0.425937235807  0.123698240885
4  0.079503521850  0.005405472404  0.521992865305  0.000575397183

    server316app1   server317app1   server318app1   server319app1
0  0.059620449076  0.680029284087  0.009958842731  0.005769391463
1  0.193135936354  0.000203591071  0.193883824654  0.155148299028
2  0.295606748295  0.103138299135  0.123698240885  0.155048697874
3  0.237369154895  0.000506618713  0.123635096456  0.031120597450
4  0.025916326525  0.013585006201  0.137538035514  0.047872346242

[5 rows x 320 columns]
server_idx
server_idx data:
  server0app1 server1app1 server2app1 server3app1 server4app1 server5app1  \
0         255         225         262         209         113         156
1         161         143          99          52         254         311
2          11          31         295         290         111          31
3         259          76         156         191          11         278
4          52         210          96         154         104         171

  server6app1 server7app1 server8app1 server9app1  ... server310app1  \
0         193         276         219          84  ...           114
1           3         189          53         267  ...            65
2         179         164         181         149  ...            18
3          63         288          71         215  ...            48
4         269         209         218         234  ...           111

  server311app1 server312app1 server313app1 server314app1 server315app1  \
0            14            20           225             8           224
1           145           307            76           275            94
2            52           201           247           226            65
3            27           128            25           163           291
4            53           294            35           208            80

  server316app1 server317app1 server318app1 server319app1
0           283           286           270           237
1            14           270           139           275
2           106           200            95           280
3           245           132            22           156
4           290           206           146           303

[5 rows x 320 columns]

In [3]:
# import numpy as np
# # Stack the 'server_idx' DataFrame, convert values to integers, handle missing values, and sort them
# unique_values = (
#     dataframes['server_idx']
#     .replace('', np.nan)             # Replace empty strings with NaN
#     .stack()                         # Stack all columns into a single Series
#     .dropna()                        # Remove any NaN values if present
#     .astype(int)                     # Convert values to integers
#     .unique()                        # Get unique values
# )
# sorted_unique_values = sorted(unique_values)  # Sort the unique values
# sorted_unique_values

In [4]:
# test_name = 'data/distributions/cache_background_server_idx_db_1.000000_flowmult_11.850000_intermult_0.db'
# conn = sqlite3.connect(test_name)
# cursor = conn.cursor()
# cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
# table_name = cursor.fetchone()[0]
# print(table_name)

## Cache Background

In [45]:
import sqlite3
import pandas as pd
import random

# Define the target number of servers (K)
K = 320

# Define the path to save the new modified databases
output_dir = '/home/ubuntu/p4burst/data/distributions/'

# Load the original databases
db_paths = {
    'flow_ids': '/home/ubuntu/p4burst/data/distributions/cache_background_flow_ids_db_1.000000_flowmult_11.850000_intermult_0.db',
    'flow_size': '/home/ubuntu/p4burst/data/distributions/cache_background_flow_size_db_1.000000_flowmult_11.850000_intermult_0.db',
    'inter_arrival_time': '/home/ubuntu/p4burst/data/distributions/cache_background_inter_arrival_time_db_1.000000_flowmult_11.850000_intermult_0.db',
    'server_idx': '/home/ubuntu/p4burst/data/distributions/cache_background_server_idx_db_1.000000_flowmult_11.850000_intermult_0.db'
}

# Dictionary to store dataframes
dataframes = {}

# Process each database file
for aspect, db_path in db_paths.items():
    conn = sqlite3.connect(db_path)
    cursor = conn.cursor()
    cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
    table_name = cursor.fetchone()[0]
    
    # Load the table into a DataFrame
    df = pd.read_sql_query(f"SELECT * FROM {table_name}", conn)
    conn.close()  # Close the database connection
    
    # Keep only the first K columns
    df = df.iloc[:, :K]
    
    # If modifying server_idx, reassign server targets within K servers
    if aspect == "server_idx":
        for sender, col in enumerate(df.columns):
            new_targets = []
            for dst_server_idx in range(len(df[col])):
                if df[col][dst_server_idx] == '':
                    new_targets.append('')
                    continue
                # Exclude the current server as a target
                targets = list(range(K))
                targets.remove(sender)  # Modulo to prevent out-of-bounds
                new_targets.append(random.choice(targets))
            df[col] = new_targets  # Assign new target servers

    # Store the modified DataFrame in the dictionary
    dataframes[aspect] = df

# Save the modified DataFrames with the new file naming convention
for aspect, df in dataframes.items():
    output_db_path = f"{output_dir}cache_background_{aspect}_db_1.000000_flowmult_11.850000_intermult_0_{K}_servers.db"
    # Save to a new SQLite database
    conn = sqlite3.connect(output_db_path)
    df.to_sql(table_name, conn, if_exists='replace', index=False)
    conn.close()

print(f"New datasets saved in {output_dir} with filenames prefixed by '{K}_servers'")

New datasets saved in /home/ubuntu/p4burst/data/distributions/ with filenames prefixed by '320_servers'

In [46]:
import pandas as pd
import numpy as np

db_paths = dict()
for aspect, df in dataframes.items():
    db_paths[aspect] = f"{output_dir}cache_background_{aspect}_db_1.000000_flowmult_11.850000_intermult_0_{K}_servers.db"

# Dictionary to store dataframes
dataframes = {}

# Process each database file
for aspect, db_path in db_paths.items():
    # Connect to the database
    conn = sqlite3.connect(db_path)
    
    # Extract the table name (assuming a single table in each db)
    cursor = conn.cursor()
    cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
    table_name = cursor.fetchone()[0]
    print(table_name)
    
    # Load the table into a DataFrame
    df = pd.read_sql_query(f"SELECT * FROM {table_name}", conn)
    dataframes[aspect] = df

    # Display first few rows
    print(f"{aspect} data:")
    print(df.head())
    
    # Close the connection
    conn.close()

server_idx
flow_ids data:
  server0app1 server1app1 server2app1 server3app1 server4app1 server5app1  \
0         100         108        1017        1030        1036        1046
1         101         109        1018        1031        1037        1047
2         102        1010        1019        1032        1038        1048
3         103        1011        1020        1033        1039        1049
4         104        1012        1021        1034        1040        1050

  server6app1 server7app1 server8app1 server9app1  ... server310app1  \
0        1058        1077        1088        1095  ...        102976
1        1059        1078        1089        1096  ...        102977
2        1060        1079        1090        1097  ...        102978
3        1061        1080        1091        1098  ...        102979
4        1062        1081        1092        1099  ...        102980

  server311app1 server312app1 server313app1 server314app1 server315app1  \
0        102983        102992        102997        103009        103015
1        102984        102993        102998        103010        103016
2        102985        102994        102999        103011        103017
3        102986        102995        103000        103012        103018
4        102987        102996        103001        103013        103019

  server316app1 server317app1 server318app1 server319app1
0        103024        103030        103040        103050
1        103025        103031        103041        103051
2        103026        103032        103042        103052
3        103027        103033        103043        103053
4        103028        103034        103044        103054

[5 rows x 320 columns]
server_idx
flow_size data:
  server0app1 server1app1 server2app1 server3app1 server4app1 server5app1  \
0        1334      256040        5645       29789         138          73
1        2710      648035     2942082         380        7571       62047
2        1180         484         340     3093182         483      417297
3         540     3088642        4209         541        2021         138
4         492      210616         375         340     3088642      210616

  server6app1 server7app1 server8app1 server9app1  ... server310app1  \
0      173238         492         490         344  ...           492
1        1507         346     1723202      311261  ...           540
2         352       34078     2803548     2803548  ...        210616
3         144     3405492      311261         540  ...          4209
4     2942082         712         490      282306  ...           344

  server311app1 server312app1 server313app1 server314app1 server315app1  \
0         34078            51          3138           340          2021
1           454       1723202           667       2802778           380
2           476           541           375         62047           712
3        360391        648035       2013392       3405492       1723202
4          1029           476        210616        149613         29789

  server316app1 server317app1 server318app1 server319app1
0       1641375        256040         62047       2013392
1           667        360391           454           490
2        311261           733        210616          2710
3           346        173238           346       1899433
4       1743320         96360        311261           540

[5 rows x 320 columns]
server_idx
inter_arrival_time data:
      server0app1     server1app1     server2app1     server3app1  \
0  0.214552127334  0.040532391654  0.073308783610  0.096549266754
1  0.680029284087  0.445396436634  0.027658026051  0.445396436634
2  0.116794284225  0.052772970871  0.272764892797  0.013241464322
3  0.021581301792  0.000938171131  0.002432207117  0.384948427327
4  0.052772970871  0.063601739178  0.029398067858  0.174559498488

      server4app1     server5app1     server6app1     server7app1  \
0  0.295550152206  0.136866109033  0.026993963703  0.031749177946
1  0.000938171131  0.181780439246  0.007374706659  0.384799149786
2  0.050673662421  0.001799605717  0.050673662421  0.097365980369
3  0.019101538666  0.284970172103  0.214552127334  0.036609762221
4  0.272764892797  0.038924599630  0.002033220679  0.036603292134

      server8app1     server9app1  ...   server310app1   server311app1  \
0  0.164189768541  0.000878078318  ...  0.202106767095  0.181780439246
1  0.473409173056  0.262764379702  ...  0.223669107247  0.000830265352
2  0.000270800600  0.639751399868  ...  0.111767615608  0.105694741102
3  0.153671388246  0.151436832259  ...  0.237531433394  0.425937235807
4  0.037186461229  0.000479007000  ...  0.082471008803  0.000781058362

    server312app1   server313app1   server314app1   server315app1  \
0  0.362222757949  0.000354690528  0.009958842731  0.137538035514
1  0.521992865305  0.105694741102  0.002288058515  0.213720735554
2  0.024481108876  0.362169410451  0.145445877227  0.000506618713
3  0.272764892797  0.000331973114  0.425937235807  0.123698240885
4  0.079503521850  0.005405472404  0.521992865305  0.000575397183

    server316app1   server317app1   server318app1   server319app1
0  0.059620449076  0.680029284087  0.009958842731  0.005769391463
1  0.193135936354  0.000203591071  0.193883824654  0.155148299028
2  0.295606748295  0.103138299135  0.123698240885  0.155048697874
3  0.237369154895  0.000506618713  0.123635096456  0.031120597450
4  0.025916326525  0.013585006201  0.137538035514  0.047872346242

[5 rows x 320 columns]
server_idx
server_idx data:
  server0app1 server1app1 server2app1 server3app1 server4app1 server5app1  \
0         125         200          92          86         294         215
1         197          60         285          54         228         173
2          11          28         135         236          26         246
3         100         149         228         319         130         309
4          65          47         168         173           1          72

  server6app1 server7app1 server8app1 server9app1  ... server310app1  \
0         287         240          33          32  ...           233
1         239         238         274         165  ...           169
2          42          70          63         307  ...           126
3          54         150         221         116  ...            38
4         212          80          58         239  ...           246

  server311app1 server312app1 server313app1 server314app1 server315app1  \
0           102           193           230           207           319
1           281           114           138           255            46
2            99           146           233           186           281
3           230           278           314           122            87
4           275           281           296           152           138

  server316app1 server317app1 server318app1 server319app1
0           157           184           297            26
1            61           143           132           118
2           166           256           296           218
3           124           177           276           213
4           279            46            58           215

[5 rows x 320 columns]

In [47]:
dataframes['server_idx']

,server0app1,server1app1,server2app1,server3app1,server4app1,server5app1,server6app1,server7app1,server8app1,server9app1,...,server310app1,server311app1,server312app1,server313app1,server314app1,server315app1,server316app1,server317app1,server318app1,server319app1
0,125,200,92,86,294,215,287,240,33,32,...,233,102,193,230,207,319,157,184,297,26
1,197,60,285,54,228,173,239,238,274,165,...,169,281,114,138,255,46,61,143,132,118
2,11,28,135,236,26,246,42,70,63,307,...,126,99,146,233,186,281,166,256,296,218
3,100,149,228,319,130,309,54,150,221,116,...,38,230,278,314,122,87,124,177,276,213
4,65,47,168,173,1,72,212,80,58,239,...,246,275,281,296,152,138,279,46,58,215
5,77,54,11,190,163,221,98,222,58,210,...,152,46,,96,267,213,211,78,112,218
6,109,226,279,,237,226,70,136,221,277,...,74,91,,171,,79,,92,202,183
7,45,178,82,,165,276,279,68,,,...,,230,,58,,114,,63,35,315
8,,274,53,,274,182,283,63,,,...,,237,,20,,99,,142,96,
9,,,211,,286,201,249,250,,,...,,,,15,,,,309,84,
10,,,291,,,90,216,17,,,...,,,,22,,,,,,
11,,,74,,,211,143,,,,...,,,,225,,,,,,
12,,,154,,,,219,,,,...,,,,,,,,,,
13,,,,,,,10,,,,...,,,,,,,,,,
14,,,,,,,129,,,,...,,,,,,,,,,
15,,,,,,,307,,,,...,,,,,,,,,,
16,,,,,,,276,,,,...,,,,,,,,,,
17,,,,,,,286,,,,...,,,,,,,,,,
18,,,,,,,35,,,,...,,,,,,,,,,
19,,,,,,,,,,,...,,,,,,,,,,

In [48]:
flow_data = []
db_path = 'data/distributions'

# Determine the column name based on the host ID
server_column = f"server2app1"  # Convert host_id hX to serverXapp0

# Construct the file paths based on the specified format
db_params = {
    "server_indices": "server_idx",
    "inter_arrival_times": "inter_arrival_time",
    "flow_sizes": "flow_size",
    "flow_ids": "flow_ids"
}

db_tables = {
    "server_indices": "server_idx",
    "inter_arrival_times": "inter_arrival",
    "flow_sizes": "flow_size",
    "flow_ids": "flow_ids"
}

# Load each parameter from its corresponding database file
data = {}
for (param_name, db_name), db_col in zip(db_params.items(), db_tables.values()):
    file_path = f"cache_background_{db_name}_db_" \
                f"{float(1):.6f}_flowmult_" \
                f"{float(11.85):.6f}_intermult_0_" \
                f"4_servers.db"
    try:
        conn = sqlite3.connect(os.path.join(db_path, file_path))
        print(file_path)
        cursor = conn.cursor()
        cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
        table_name = cursor.fetchone()[0]

        # Retrieve only the specific column for this server's host id
        df = pd.read_sql_query(f"SELECT * FROM {table_name}", conn)
        conn.close()
    except:
        raise ValueError(f"Error loading data from {file_path}")

    # Retrieve the specific column for this server's host ID
    if server_column in df.columns:
        data[param_name] = df[server_column].replace('', np.nan).dropna().tolist()
    else:
        raise ValueError(f"Column {server_column} not found in {file_path}")
    
# Combine the data from each database into flow data entries
for flow_id, (inter_arrival_time, flow_size, server_idx) in enumerate(
        zip(data["inter_arrival_times"], data["flow_sizes"], data["server_indices"])):
    flow_data.append({
        'flow_id': flow_id,
        'inter_arrival_time': inter_arrival_time,
        'flow_size': flow_size,
        'server_idx': server_idx  # Destination server
    })

cache_background_server_idx_db_1.000000_flowmult_11.850000_intermult_0_4_servers.db
cache_background_inter_arrival_time_db_1.000000_flowmult_11.850000_intermult_0_4_servers.db
cache_background_flow_size_db_1.000000_flowmult_11.850000_intermult_0_4_servers.db
cache_background_flow_ids_db_1.000000_flowmult_11.850000_intermult_0_4_servers.db

## Web Bursty

In [14]:
import sqlite3
import pandas as pd
import random

# Define the target number of servers (K)
K = 100

# Define the path to save the new modified databases
output_dir = '/home/ubuntu/p4burst/data/distributions/'

# Load the original databases
db_paths = {
    'flow_ids': '/home/ubuntu/p4burst/data/distributions/web_bursty_flow_ids_db_1.000000_flowmult_0.110000_intermult_40_flows_per_incast_20000_incast_flow_size_0.db',
    'query_ids': '/home/ubuntu/p4burst/data/distributions/web_bursty_query_ids_db_1.000000_flowmult_0.110000_intermult_40_flows_per_incast_20000_incast_flow_size_0.db',
    'inter_arrival_time': '/home/ubuntu/p4burst/data/distributions/web_bursty_inter_arrival_time_db_1.000000_flowmult_0.110000_intermult_40_flows_per_incast_20000_incast_flow_size_0.db',
    'server_idx': '/home/ubuntu/p4burst/data/distributions/web_bursty_server_idx_db_1.000000_flowmult_0.110000_intermult_40_flows_per_incast_20000_incast_flow_size_0.db'
}

# Dictionary to store dataframes
dataframes = {}

# Process each database file
for aspect, db_path in db_paths.items():
    conn = sqlite3.connect(db_path)
    cursor = conn.cursor()
    cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
    table_name = cursor.fetchone()[0]
    
    # Load the table into a DataFrame
    df = pd.read_sql_query(f"SELECT * FROM {table_name}", conn)
    conn.close()  # Close the database connection
    
    # Keep only the first K columns
    df = df.iloc[:, :K]
    
    # If modifying server_idx, reassign server targets within K servers
    if aspect == "server_idx":
        for sender, col in enumerate(df.columns):
            new_targets = []
            for dst_server_idx in range(len(df[col])):
                if df[col][dst_server_idx] == '':
                    new_targets.append('')
                    continue
                # Exclude the current server as a target
                targets = list(range(K))
                targets.remove(sender)  # Modulo to prevent out-of-bounds
                new_targets.append(random.choice(targets))
            df[col] = new_targets  # Assign new target servers

    # Store the modified DataFrame in the dictionary
    dataframes[aspect] = df

# Save the modified DataFrames with the new file naming convention
for aspect, df in dataframes.items():
    output_db_path = f"{output_dir}web_bursty_{aspect}_db_1.000000_flowmult_0.110000_intermult_40_flows_per_incast_20000_incast_flow_size_0_{K}_servers.db"
    # Save to a new SQLite database
    conn = sqlite3.connect(output_db_path)
    df.to_sql(table_name, conn, if_exists='replace', index=False)
    conn.close()

print(f"New datasets saved in {output_dir} with filenames prefixed by '{K}_servers'")

New datasets saved in /home/ubuntu/p4burst/data/distributions/ with filenames prefixed by '100_servers'

In [15]:
import pandas as pd
import numpy as np

db_paths = dict()
for aspect, df in dataframes.items():
    db_paths[aspect] = f"{output_dir}web_bursty_{aspect}_db_1.000000_flowmult_0.110000_intermult_40_flows_per_incast_20000_incast_flow_size_0_{K}_servers.db"

# Dictionary to store dataframes
dataframes = {}

# Process each database file
for aspect, db_path in db_paths.items():
    # Connect to the database
    conn = sqlite3.connect(db_path)
    
    # Extract the table name (assuming a single table in each db)
    cursor = conn.cursor()
    cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
    table_name = cursor.fetchone()[0]
    print(table_name)
    
    # Load the table into a DataFrame
    df = pd.read_sql_query(f"SELECT * FROM {table_name}", conn)
    dataframes[aspect] = df

    # Display first few rows
    print(f"{aspect} data:")
    print(df.head())
    
    # Close the connection
    conn.close()

server_idx
flow_ids data:
  server0app2 server1app2 server2app2 server3app2 server4app2 server5app2  \
0      114680      112280      115840      117600     1114480       11600
1      114681      112281      115841      117601     1114481       11601
2      114682      112282      115842      117602     1114482       11602
3      114683      112283      115843      117603     1114483       11603
4      114684      112284      115844      117604     1114484       11604

  server6app2 server7app2 server8app2 server9app2  ... server90app2  \
0      112640     1112960      116000       11840  ...       113480
1      112641     1112961      116001       11841  ...       113481
2      112642     1112962      116002       11842  ...       113482
3      112643     1112963      116003       11843  ...       113483
4      112644     1112964      116004       11844  ...       113484

  server91app2 server92app2 server93app2 server94app2 server95app2  \
0       119280       118680       118200      1115320       119320
1       119281       118681       118201      1115321       119321
2       119282       118682       118202      1115322       119322
3       119283       118683       118203      1115323       119323
4       119284       118684       118204      1115324       119324

  server96app2 server97app2 server98app2 server99app2
0       112400       111520      1123840      1114640
1       112401       111521      1123841      1114641
2       112402       111522      1123842      1114642
3       112403       111523      1123843      1114643
4       112404       111524      1123844      1114644

[5 rows x 100 columns]
server_idx
query_ids data:
  server0app2 server1app2 server2app2 server3app2 server4app2 server5app2  \
0         117          57         146         190         362          15
1         385         926         429         242        1060         135
2         463        1379        1898         302        1208         850
3        1163        1386                     368        1467         877
4        1310        1849                     583        1486         895

  server6app2 server7app2 server8app2 server9app2  ... server90app2  \
0          66         324         150          21  ...           87
1         252         801         291         694  ...          499
2         852        1026         484        1219  ...          564
3                    1115         763        1226  ...          709
4                    1512        1014        1268  ...         1103

  server91app2 server92app2 server93app2 server94app2 server95app2  \
0          232          217          205          383          233
1          669          798          436          555          529
2          931          863          737         1306         1295
3         1195         1370          789         1309         1346
4         1209         1681         1433         2063         1391

  server96app2 server97app2 server98app2 server99app2
0           60           38          596          366
1          352          143          612          485
2         1232          319          629          613
3         1413          369          657          756
4                       582          708          838

[5 rows x 100 columns]
server_idx
inter_arrival_time data:
           server0app2         server1app2         server2app2  \
0  0.25262369834886333  0.2262767910852821  0.2610408776641066
1  0.25262369834886333  0.2262767910852821  0.2610408776641066
2  0.25262369834886333  0.2262767910852821  0.2610408776641066
3  0.25262369834886333  0.2262767910852821  0.2610408776641066
4  0.25262369834886333  0.2262767910852821  0.2610408776641066

           server3app2          server4app2          server5app2  \
0  0.28411987891507073  0.36200309618728915  0.20864475102084912
1  0.28411987891507073  0.36200309618728915  0.20864475102084912
2  0.28411987891507073  0.36200309618728915  0.20864475102084912
3  0.28411987891507073  0.36200309618728915  0.20864475102084912
4  0.28411987891507073  0.36200309618728915  0.20864475102084912

           server6app2          server7app2          server8app2  \
0  0.23093178082838628  0.33902433319872194  0.26162231645374645
1  0.23093178082838628  0.33902433319872194  0.26162231645374645
2  0.23093178082838628  0.33902433319872194  0.26162231645374645
3  0.23093178082838628  0.33902433319872194  0.26162231645374645
4  0.23093178082838628  0.33902433319872194  0.26162231645374645

          server9app2  ...         server90app2         server91app2  \
0  0.2110736266236331  ...  0.23889463085944584  0.29885768433878007
1  0.2110736266236331  ...  0.23889463085944584  0.29885768433878007
2  0.2110736266236331  ...  0.23889463085944584  0.29885768433878007
3  0.2110736266236331  ...  0.23889463085944584  0.29885768433878007
4  0.2110736266236331  ...  0.23889463085944584  0.29885768433878007

          server92app2         server93app2         server94app2  \
0  0.29442427669074217  0.29013401469900046  0.36928854836368924
1  0.29442427669074217  0.29013401469900046  0.36928854836368924
2  0.29442427669074217  0.29013401469900046  0.36928854836368924
3  0.29442427669074217  0.29013401469900046  0.36928854836368924
4  0.29442427669074217  0.29013401469900046  0.36928854836368924

         server95app2         server96app2         server97app2  \
0  0.3023301454319964  0.22708342129813458  0.21855158374151568
1  0.3023301454319964  0.22708342129813458  0.21855158374151568
2  0.3023301454319964  0.22708342129813458  0.21855158374151568
3  0.3023301454319964  0.22708342129813458  0.21855158374151568
4  0.3023301454319964  0.22708342129813458  0.21855158374151568

         server98app2         server99app2
0  0.4743717571505177  0.36361422952817607
1  0.4743717571505177  0.36361422952817607
2  0.4743717571505177  0.36361422952817607
3  0.4743717571505177  0.36361422952817607
4  0.4743717571505177  0.36361422952817607

[5 rows x 100 columns]
server_idx
server_idx data:
  server0app2 server1app2 server2app2 server3app2 server4app2 server5app2  \
0           6          38          57          28          53          28
1          35          37          14          17          25          62
2          12          32          91          38          12          70
3          28           7          91          55          54          65
4          81          63          59          90          59          24

  server6app2 server7app2 server8app2 server9app2  ... server90app2  \
0          87          94          28          45  ...           52
1          60          93          91          84  ...           10
2          12           1          15          71  ...           16
3          60           0          40          99  ...            3
4           4          91          32          89  ...           98

  server91app2 server92app2 server93app2 server94app2 server95app2  \
0           68           59            5           87           41
1            5           89           96           77           65
2           48           64           31            0           15
3           79           18           85           34           16
4           34           84           29           54           61

  server96app2 server97app2 server98app2 server99app2
0           90           63           62           12
1           69           10           64           40
2           65           16           21            6
3           10           26           27            8
4           49           58           59           85

[5 rows x 100 columns]

In [17]:
dataframes['inter_arrival_time']

,server0app2,server1app2,server2app2,server3app2,server4app2,server5app2,server6app2,server7app2,server8app2,server9app2,...,server90app2,server91app2,server92app2,server93app2,server94app2,server95app2,server96app2,server97app2,server98app2,server99app2
0,0.25262369834886333,0.2262767910852821,0.2610408776641066,0.28411987891507073,0.36200309618728915,0.20864475102084912,0.23093178082838628,0.33902433319872194,0.26162231645374645,0.2110736266236331,...,0.23889463085944584,0.29885768433878007,0.29442427669074217,0.29013401469900046,0.36928854836368924,0.3023301454319964,0.22708342129813458,0.21855158374151568,0.4743717571505177,0.36361422952817607
1,0.25262369834886333,0.2262767910852821,0.2610408776641066,0.28411987891507073,0.36200309618728915,0.20864475102084912,0.23093178082838628,0.33902433319872194,0.26162231645374645,0.2110736266236331,...,0.23889463085944584,0.29885768433878007,0.29442427669074217,0.29013401469900046,0.36928854836368924,0.3023301454319964,0.22708342129813458,0.21855158374151568,0.4743717571505177,0.36361422952817607
2,0.25262369834886333,0.2262767910852821,0.2610408776641066,0.28411987891507073,0.36200309618728915,0.20864475102084912,0.23093178082838628,0.33902433319872194,0.26162231645374645,0.2110736266236331,...,0.23889463085944584,0.29885768433878007,0.29442427669074217,0.29013401469900046,0.36928854836368924,0.3023301454319964,0.22708342129813458,0.21855158374151568,0.4743717571505177,0.36361422952817607
3,0.25262369834886333,0.2262767910852821,0.2610408776641066,0.28411987891507073,0.36200309618728915,0.20864475102084912,0.23093178082838628,0.33902433319872194,0.26162231645374645,0.2110736266236331,...,0.23889463085944584,0.29885768433878007,0.29442427669074217,0.29013401469900046,0.36928854836368924,0.3023301454319964,0.22708342129813458,0.21855158374151568,0.4743717571505177,0.36361422952817607
4,0.25262369834886333,0.2262767910852821,0.2610408776641066,0.28411987891507073,0.36200309618728915,0.20864475102084912,0.23093178082838628,0.33902433319872194,0.26162231645374645,0.2110736266236331,...,0.23889463085944584,0.29885768433878007,0.29442427669074217,0.29013401469900046,0.36928854836368924,0.3023301454319964,0.22708342129813458,0.21855158374151568,0.4743717571505177,0.36361422952817607
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
595,,,,,,,,,,,...,,,,,,,,,,
596,,,,,,,,,,,...,,,,,,,,,,
597,,,,,,,,,,,...,,,,,,,,,,
598,,,,,,,,,,,...,,,,,,,,,,
599,,,,,,,,,,,...,,,,,,,,,,

## Test background load computation

In [58]:
import sqlite3 
import pandas as pd 

def compute_background_load(db_params, n_hosts, host_to_switch_bw=10, switch_to_switch_bw=40, iat_scale_factor=1):
    """Compute background load percentage based on DB flow parameters."""
    # Load the database files
    db_paths = {
        aspect: f"data/distributions/cache_background_{db_name}_db_{1:.6f}_flowmult_{11.85:.6f}_intermult_0_{n_hosts}_servers.db"
        for aspect, db_name in db_params.items()
    }

    dataframes = {}

    # Process each database file
    for aspect, db_path in db_paths.items():
        # Connect to the database
        conn = sqlite3.connect(db_path)
        
        # Extract the table name (assuming a single table in each db)
        cursor = conn.cursor()
        cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
        table_name = cursor.fetchone()[0]
        # print(table_name)
        
        # Load the table into a DataFrame
        df = pd.read_sql_query(f"SELECT * FROM {table_name}", conn)
        dataframes[aspect] = df

        # Display first few rows
        # print(f"{aspect} data:")
        # print(df.head())
        
        # Close the connection
        conn.close()

    # Retrieve flow sizes and inter-arrival times
    flow_sizes_df = dataframes['flow_sizes']
    iat_df = dataframes['inter_arrival_times']

    total_traffic_rate_mbps = 0  # Total traffic rate in Mbps
    
    for server in flow_sizes_df.columns:
        flow_sizes = flow_sizes_df[server]
        iats = iat_df[server]

        # Compute traffic rate for each flow
        for flow_size, iat in zip(flow_sizes, iats):
            if flow_size and iat:  # Skip empty values
                if float(iat) > 0:  # Avoid division by zero
                    # Convert flow size to Mbps and adjust by multipliers
                    flow_size_bits = (float(flow_size) * 8)
                    traffic_rate_mbps = float(flow_size_bits) / (float(iat) * iat_scale_factor * 1e6)
                    total_traffic_rate_mbps += traffic_rate_mbps
        
    # Compute background load percentage
    host_to_switch_bw = host_to_switch_bw * 1e3  # Convert to Mbps
    switch_to_switch_bw = switch_to_switch_bw * 1e3  # Convert to Mbps
    total_capacity_mbps = 32 * switch_to_switch_bw + n_hosts * host_to_switch_bw
    print("No. Hosts", n_hosts)
    print("Host to Switch BW: ", host_to_switch_bw*1e-3, "Gbps")
    print("Switch to Switch BW: ", switch_to_switch_bw*1e-3, "Gbps")
    print("Total Workload Rate: ", total_traffic_rate_mbps*1e-3, "Gbps")
    print("Total Network Capacity: ", total_capacity_mbps*1e-3, "Gbps")
    background_load_percentage = (total_traffic_rate_mbps / total_capacity_mbps) * 100
    
    return background_load_percentage

# Example usage
# Construct the file paths based on the specified format
db_params = {
    "server_idx": "server_idx",
    "inter_arrival_times": "inter_arrival_time",
    "flow_sizes": "flow_size",
    "flow_ids": "flow_ids"
}

# filename = 'cache_background_inter_arrival_time_db_1.000000_flowmult_11.850000_intermult_0.db'

background_load = compute_background_load(db_params, n_hosts=100, host_to_switch_bw=1, switch_to_switch_bw=1)
print(f"Background Load: {background_load:.2f}%")

No. Hosts 100
Host to Switch BW:  1.0 Gbps
Switch to Switch BW:  1.0 Gbps
Total Workload Rate:  984.3705148727466 Gbps
Total Network Capacity:  132.0 Gbps
Background Load: 745.74%

In [46]:
def load_background_data(n_hosts):
    db_paths = {
        aspect: f"data/distributions/cache_background_{db_name}_db_{1:.6f}_flowmult_{11.85:.6f}_intermult_0_{n_hosts}_servers.db"
        for aspect, db_name in db_params.items()
    }

    dataframes = {}

    # Process each database file
    for aspect, db_path in db_paths.items():
        # Connect to the database
        conn = sqlite3.connect(db_path)
        
        # Extract the table name (assuming a single table in each db)
        cursor = conn.cursor()
        cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
        table_name = cursor.fetchone()[0]
        # print(table_name)
        
        # Load the table into a DataFrame
        df = pd.read_sql_query(f"SELECT * FROM {table_name}", conn)
        dataframes[aspect] = df

        # Display first few rows
        # print(f"{aspect} data:")
        # print(df.head())
        
        # Close the connection
        conn.close()
    return dataframes

In [ ]:
def scale_iat_for_background_load(flow_sizes, iats, total_capacity_gbps, target_background_load):
    """
    Scale inter-arrival times (IATs) to achieve the target background load percentage.

    Parameters:
        flow_sizes (pd.DataFrame): Flow sizes (bytes) for each server.
        iats (pd.DataFrame): Original inter-arrival times (seconds) for each server.
        total_capacity_gbps (float): Total network capacity in Gbps.
        target_background_load (float): Desired background load as a percentage (e.g., 50%).

    Returns:
        pd.DataFrame: Scaled inter-arrival times to achieve the target background load.
    """
    # Convert total capacity to Mbps
    total_capacity_mbps = total_capacity_gbps * 1e3

    # Compute the current total traffic rate (Mbps)
    current_traffic_rate_mbps = 0
    for server in flow_sizes.columns:
        for flow_size, iat in zip(flow_sizes[server], iats[server]):
            if flow_size and iat:  # Avoid missing values
                flow_size_mbps = (int(flow_size) * 8) / 1e6  # Convert flow size to Mbps
                if float(iat) > 0:
                    current_traffic_rate_mbps += float(flow_size_mbps) / float(iat)

    # Calculate the target total traffic rate (Mbps) based on the desired load
    target_traffic_rate_mbps = (target_background_load / 100) * total_capacity_mbps

    # Determine the scaling factor for IATs
    scaling_factor = current_traffic_rate_mbps / target_traffic_rate_mbps

    # Scale the IATs
    for server in iats.columns:
        iats[server] = iats[server].apply(lambda iat: float(iat) * scaling_factor if iat else iat)

    return iats, scaling_factor

# Example usage
n_hosts = 100
flow_data = load_background_data(n_hosts)
total_cap = 32 * 1 + n_hosts * 1
iat, scaling_factor = scale_iat_for_background_load(flow_data['flow_sizes'], flow_data['inter_arrival_times'],
                    total_capacity_gbps=total_cap, target_background_load=50)

# Verification
new_background_load = compute_background_load(db_params, n_hosts=n_hosts, iat_scale_factor=scaling_factor, host_to_switch_bw=1, switch_to_switch_bw=1)
print(f"New Background Load: {new_background_load:.2f}%")

No. Hosts 100
Host to Switch BW:  1.0 Gbps
Switch to Switch BW:  1.0 Gbps
Total Workload Rate:  65.99999999999993 Gbps
Total Network Capacity:  132.0 Gbps
New Background Load: 50.00%