In [2]:
import sqlite3
import os

data_dir = "data/distributions"
info_name = 'flow_ids'
table_name = 'flow_ids'
conn = sqlite3.connect(os.path.join(data_dir, f'cache_background_{info_name}_db_1.000000_flowmult_11.850000_intermult_0.db'))
# conn = sqlite3.connect(os.path.join(data_dir, f'web_bursty_{info_name}_db_1.000000_flowmult_0.110000_intermult_40_flows_per_incast_20000_flow_size_0.db'))
cursor = conn.cursor()

# Fetch table structure
cursor.execute(f"PRAGMA table_info({table_name});")
columns = cursor.fetchall()
print(f"Columns in {table_name}:", columns)

# Fetch and display sample data
cursor.execute(f"SELECT * FROM {table_name} LIMIT 10;")
rows = cursor.fetchall()
for row in rows:
    print(row)

# Close the connection
conn.close()

Columns in flow_ids: [(0, 'server0app1', 'text', 0, None, 0), (1, 'server1app1', 'text', 0, None, 0), (2, 'server2app1', 'text', 0, None, 0), (3, 'server3app1', 'text', 0, None, 0), (4, 'server4app1', 'text', 0, None, 0), (5, 'server5app1', 'text', 0, None, 0), (6, 'server6app1', 'text', 0, None, 0), (7, 'server7app1', 'text', 0, None, 0), (8, 'server8app1', 'text', 0, None, 0), (9, 'server9app1', 'text', 0, None, 0), (10, 'server10app1', 'text', 0, None, 0), (11, 'server11app1', 'text', 0, None, 0), (12, 'server12app1', 'text', 0, None, 0), (13, 'server13app1', 'text', 0, None, 0), (14, 'server14app1', 'text', 0, None, 0), (15, 'server15app1', 'text', 0, None, 0), (16, 'server16app1', 'text', 0, None, 0), (17, 'server17app1', 'text', 0, None, 0), (18, 'server18app1', 'text', 0, None, 0), (19, 'server19app1', 'text', 0, None, 0), (20, 'server20app1', 'text', 0, None, 0), (21, 'server21app1', 'text', 0, None, 0), (22, 'server22app1', 'text', 0, None, 0), (23, 'server23app1', 'text', 0, None, 0), (24, 'server24app1', 'text', 0, None, 0), (25, 'server25app1', 'text', 0, None, 0), (26, 'server26app1', 'text', 0, None, 0), (27, 'server27app1', 'text', 0, None, 0), (28, 'server28app1', 'text', 0, None, 0), (29, 'server29app1', 'text', 0, None, 0), (30, 'server30app1', 'text', 0, None, 0), (31, 'server31app1', 'text', 0, None, 0), (32, 'server32app1', 'text', 0, None, 0), (33, 'server33app1', 'text', 0, None, 0), (34, 'server34app1', 'text', 0, None, 0), (35, 'server35app1', 'text', 0, None, 0), (36, 'server36app1', 'text', 0, None, 0), (37, 'server37app1', 'text', 0, None, 0), (38, 'server38app1', 'text', 0, None, 0), (39, 'server39app1', 'text', 0, None, 0), (40, 'server40app1', 'text', 0, None, 0), (41, 'server41app1', 'text', 0, None, 0), (42, 'server42app1', 'text', 0, None, 0), (43, 'server43app1', 'text', 0, None, 0), (44, 'server44app1', 'text', 0, None, 0), (45, 'server45app1', 'text', 0, None, 0), (46, 'server46app1', 'text', 0, None, 0), (47, 'server47app1', 'text', 0, None, 0), (48, 'server48app1', 'text', 0, None, 0), (49, 'server49app1', 'text', 0, None, 0), (50, 'server50app1', 'text', 0, None, 0), (51, 'server51app1', 'text', 0, None, 0), (52, 'server52app1', 'text', 0, None, 0), (53, 'server53app1', 'text', 0, None, 0), (54, 'server54app1', 'text', 0, None, 0), (55, 'server55app1', 'text', 0, None, 0), (56, 'server56app1', 'text', 0, None, 0), (57, 'server57app1', 'text', 0, None, 0), (58, 'server58app1', 'text', 0, None, 0), (59, 'server59app1', 'text', 0, None, 0), (60, 'server60app1', 'text', 0, None, 0), (61, 'server61app1', 'text', 0, None, 0), (62, 'server62app1', 'text', 0, None, 0), (63, 'server63app1', 'text', 0, None, 0), (64, 'server64app1', 'text', 0, None, 0), (65, 'server65app1', 'text', 0, None, 0), (66, 'server66app1', 'text', 0, None, 0), (67, 'server67app1', 'text', 0, None, 0), (68, 'server68app1', 'text', 0, None, 0), (69, 'server69app1', 'text', 0, None, 0), (70, 'server70app1', 'text', 0, None, 0), (71, 'server71app1', 'text', 0, None, 0), (72, 'server72app1', 'text', 0, None, 0), (73, 'server73app1', 'text', 0, None, 0), (74, 'server74app1', 'text', 0, None, 0), (75, 'server75app1', 'text', 0, None, 0), (76, 'server76app1', 'text', 0, None, 0), (77, 'server77app1', 'text', 0, None, 0), (78, 'server78app1', 'text', 0, None, 0), (79, 'server79app1', 'text', 0, None, 0), (80, 'server80app1', 'text', 0, None, 0), (81, 'server81app1', 'text', 0, None, 0), (82, 'server82app1', 'text', 0, None, 0), (83, 'server83app1', 'text', 0, None, 0), (84, 'server84app1', 'text', 0, None, 0), (85, 'server85app1', 'text', 0, None, 0), (86, 'server86app1', 'text', 0, None, 0), (87, 'server87app1', 'text', 0, None, 0), (88, 'server88app1', 'text', 0, None, 0), (89, 'server89app1', 'text', 0, None, 0), (90, 'server90app1', 'text', 0, None, 0), (91, 'server91app1', 'text', 0, None, 0), (92, 'server92app1', 'text', 0, None, 0), (93, 'server93app1', 'text', 0, None, 0), (94, 'server94app1', 'text', 0, None, 0), (95, 'server95app1', 'text', 0, None, 0), (96, 'server96app1', 'text', 0, None, 0), (97, 'server97app1', 'text', 0, None, 0), (98, 'server98app1', 'text', 0, None, 0), (99, 'server99app1', 'text', 0, None, 0), (100, 'server100app1', 'text', 0, None, 0), (101, 'server101app1', 'text', 0, None, 0), (102, 'server102app1', 'text', 0, None, 0), (103, 'server103app1', 'text', 0, None, 0), (104, 'server104app1', 'text', 0, None, 0), (105, 'server105app1', 'text', 0, None, 0), (106, 'server106app1', 'text', 0, None, 0), (107, 'server107app1', 'text', 0, None, 0), (108, 'server108app1', 'text', 0, None, 0), (109, 'server109app1', 'text', 0, None, 0), (110, 'server110app1', 'text', 0, None, 0), (111, 'server111app1', 'text', 0, None, 0), (112, 'server112app1', 'text', 0, None, 0), (113, 'server113app1', 'text', 0, None, 0), (114, 'server114app1', 'text', 0, None, 0), (115, 'server115app1', 'text', 0, None, 0), (116, 'server116app1', 'text', 0, None, 0), (117, 'server117app1', 'text', 0, None, 0), (118, 'server118app1', 'text', 0, None, 0), (119, 'server119app1', 'text', 0, None, 0), (120, 'server120app1', 'text', 0, None, 0), (121, 'server121app1', 'text', 0, None, 0), (122, 'server122app1', 'text', 0, None, 0), (123, 'server123app1', 'text', 0, None, 0), (124, 'server124app1', 'text', 0, None, 0), (125, 'server125app1', 'text', 0, None, 0), (126, 'server126app1', 'text', 0, None, 0), (127, 'server127app1', 'text', 0, None, 0), (128, 'server128app1', 'text', 0, None, 0), (129, 'server129app1', 'text', 0, None, 0), (130, 'server130app1', 'text', 0, None, 0), (131, 'server131app1', 'text', 0, None, 0), (132, 'server132app1', 'text', 0, None, 0), (133, 'server133app1', 'text', 0, None, 0), (134, 'server134app1', 'text', 0, None, 0), (135, 'server135app1', 'text', 0, None, 0), (136, 'server136app1', 'text', 0, None, 0), (137, 'server137app1', 'text', 0, None, 0), (138, 'server138app1', 'text', 0, None, 0), (139, 'server139app1', 'text', 0, None, 0), (140, 'server140app1', 'text', 0, None, 0), (141, 'server141app1', 'text', 0, None, 0), (142, 'server142app1', 'text', 0, None, 0), (143, 'server143app1', 'text', 0, None, 0), (144, 'server144app1', 'text', 0, None, 0), (145, 'server145app1', 'text', 0, None, 0), (146, 'server146app1', 'text', 0, None, 0), (147, 'server147app1', 'text', 0, None, 0), (148, 'server148app1', 'text', 0, None, 0), (149, 'server149app1', 'text', 0, None, 0), (150, 'server150app1', 'text', 0, None, 0), (151, 'server151app1', 'text', 0, None, 0), (152, 'server152app1', 'text', 0, None, 0), (153, 'server153app1', 'text', 0, None, 0), (154, 'server154app1', 'text', 0, None, 0), (155, 'server155app1', 'text', 0, None, 0), (156, 'server156app1', 'text', 0, None, 0), (157, 'server157app1', 'text', 0, None, 0), (158, 'server158app1', 'text', 0, None, 0), (159, 'server159app1', 'text', 0, None, 0), (160, 'server160app1', 'text', 0, None, 0), (161, 'server161app1', 'text', 0, None, 0), (162, 'server162app1', 'text', 0, None, 0), (163, 'server163app1', 'text', 0, None, 0), (164, 'server164app1', 'text', 0, None, 0), (165, 'server165app1', 'text', 0, None, 0), (166, 'server166app1', 'text', 0, None, 0), (167, 'server167app1', 'text', 0, None, 0), (168, 'server168app1', 'text', 0, None, 0), (169, 'server169app1', 'text', 0, None, 0), (170, 'server170app1', 'text', 0, None, 0), (171, 'server171app1', 'text', 0, None, 0), (172, 'server172app1', 'text', 0, None, 0), (173, 'server173app1', 'text', 0, None, 0), (174, 'server174app1', 'text', 0, None, 0), (175, 'server175app1', 'text', 0, None, 0), (176, 'server176app1', 'text', 0, None, 0), (177, 'server177app1', 'text', 0, None, 0), (178, 'server178app1', 'text', 0, None, 0), (179, 'server179app1', 'text', 0, None, 0), (180, 'server180app1', 'text', 0, None, 0), (181, 'server181app1', 'text', 0, None, 0), (182, 'server182app1', 'text', 0, None, 0), (183, 'server183app1', 'text', 0, None, 0), (184, 'server184app1', 'text', 0, None, 0), (185, 'server185app1', 'text', 0, None, 0), (186, 'server186app1', 'text', 0, None, 0), (187, 'server187app1', 'text', 0, None, 0), (188, 'server188app1', 'text', 0, None, 0), (189, 'server189app1', 'text', 0, None, 0), (190, 'server190app1', 'text', 0, None, 0), (191, 'server191app1', 'text', 0, None, 0), (192, 'server192app1', 'text', 0, None, 0), (193, 'server193app1', 'text', 0, None, 0), (194, 'server194app1', 'text', 0, None, 0), (195, 'server195app1', 'text', 0, None, 0), (196, 'server196app1', 'text', 0, None, 0), (197, 'server197app1', 'text', 0, None, 0), (198, 'server198app1', 'text', 0, None, 0), (199, 'server199app1', 'text', 0, None, 0), (200, 'server200app1', 'text', 0, None, 0), (201, 'server201app1', 'text', 0, None, 0), (202, 'server202app1', 'text', 0, None, 0), (203, 'server203app1', 'text', 0, None, 0), (204, 'server204app1', 'text', 0, None, 0), (205, 'server205app1', 'text', 0, None, 0), (206, 'server206app1', 'text', 0, None, 0), (207, 'server207app1', 'text', 0, None, 0), (208, 'server208app1', 'text', 0, None, 0), (209, 'server209app1', 'text', 0, None, 0), (210, 'server210app1', 'text', 0, None, 0), (211, 'server211app1', 'text', 0, None, 0), (212, 'server212app1', 'text', 0, None, 0), (213, 'server213app1', 'text', 0, None, 0), (214, 'server214app1', 'text', 0, None, 0), (215, 'server215app1', 'text', 0, None, 0), (216, 'server216app1', 'text', 0, None, 0), (217, 'server217app1', 'text', 0, None, 0), (218, 'server218app1', 'text', 0, None, 0), (219, 'server219app1', 'text', 0, None, 0), (220, 'server220app1', 'text', 0, None, 0), (221, 'server221app1', 'text', 0, None, 0), (222, 'server222app1', 'text', 0, None, 0), (223, 'server223app1', 'text', 0, None, 0), (224, 'server224app1', 'text', 0, None, 0), (225, 'server225app1', 'text', 0, None, 0), (226, 'server226app1', 'text', 0, None, 0), (227, 'server227app1', 'text', 0, None, 0), (228, 'server228app1', 'text', 0, None, 0), (229, 'server229app1', 'text', 0, None, 0), (230, 'server230app1', 'text', 0, None, 0), (231, 'server231app1', 'text', 0, None, 0), (232, 'server232app1', 'text', 0, None, 0), (233, 'server233app1', 'text', 0, None, 0), (234, 'server234app1', 'text', 0, None, 0), (235, 'server235app1', 'text', 0, None, 0), (236, 'server236app1', 'text', 0, None, 0), (237, 'server237app1', 'text', 0, None, 0), (238, 'server238app1', 'text', 0, None, 0), (239, 'server239app1', 'text', 0, None, 0), (240, 'server240app1', 'text', 0, None, 0), (241, 'server241app1', 'text', 0, None, 0), (242, 'server242app1', 'text', 0, None, 0), (243, 'server243app1', 'text', 0, None, 0), (244, 'server244app1', 'text', 0, None, 0), (245, 'server245app1', 'text', 0, None, 0), (246, 'server246app1', 'text', 0, None, 0), (247, 'server247app1', 'text', 0, None, 0), (248, 'server248app1', 'text', 0, None, 0), (249, 'server249app1', 'text', 0, None, 0), (250, 'server250app1', 'text', 0, None, 0), (251, 'server251app1', 'text', 0, None, 0), (252, 'server252app1', 'text', 0, None, 0), (253, 'server253app1', 'text', 0, None, 0), (254, 'server254app1', 'text', 0, None, 0), (255, 'server255app1', 'text', 0, None, 0), (256, 'server256app1', 'text', 0, None, 0), (257, 'server257app1', 'text', 0, None, 0), (258, 'server258app1', 'text', 0, None, 0), (259, 'server259app1', 'text', 0, None, 0), (260, 'server260app1', 'text', 0, None, 0), (261, 'server261app1', 'text', 0, None, 0), (262, 'server262app1', 'text', 0, None, 0), (263, 'server263app1', 'text', 0, None, 0), (264, 'server264app1', 'text', 0, None, 0), (265, 'server265app1', 'text', 0, None, 0), (266, 'server266app1', 'text', 0, None, 0), (267, 'server267app1', 'text', 0, None, 0), (268, 'server268app1', 'text', 0, None, 0), (269, 'server269app1', 'text', 0, None, 0), (270, 'server270app1', 'text', 0, None, 0), (271, 'server271app1', 'text', 0, None, 0), (272, 'server272app1', 'text', 0, None, 0), (273, 'server273app1', 'text', 0, None, 0), (274, 'server274app1', 'text', 0, None, 0), (275, 'server275app1', 'text', 0, None, 0), (276, 'server276app1', 'text', 0, None, 0), (277, 'server277app1', 'text', 0, None, 0), (278, 'server278app1', 'text', 0, None, 0), (279, 'server279app1', 'text', 0, None, 0), (280, 'server280app1', 'text', 0, None, 0), (281, 'server281app1', 'text', 0, None, 0), (282, 'server282app1', 'text', 0, None, 0), (283, 'server283app1', 'text', 0, None, 0), (284, 'server284app1', 'text', 0, None, 0), (285, 'server285app1', 'text', 0, None, 0), (286, 'server286app1', 'text', 0, None, 0), (287, 'server287app1', 'text', 0, None, 0), (288, 'server288app1', 'text', 0, None, 0), (289, 'server289app1', 'text', 0, None, 0), (290, 'server290app1', 'text', 0, None, 0), (291, 'server291app1', 'text', 0, None, 0), (292, 'server292app1', 'text', 0, None, 0), (293, 'server293app1', 'text', 0, None, 0), (294, 'server294app1', 'text', 0, None, 0), (295, 'server295app1', 'text', 0, None, 0), (296, 'server296app1', 'text', 0, None, 0), (297, 'server297app1', 'text', 0, None, 0), (298, 'server298app1', 'text', 0, None, 0), (299, 'server299app1', 'text', 0, None, 0), (300, 'server300app1', 'text', 0, None, 0), (301, 'server301app1', 'text', 0, None, 0), (302, 'server302app1', 'text', 0, None, 0), (303, 'server303app1', 'text', 0, None, 0), (304, 'server304app1', 'text', 0, None, 0), (305, 'server305app1', 'text', 0, None, 0), (306, 'server306app1', 'text', 0, None, 0), (307, 'server307app1', 'text', 0, None, 0), (308, 'server308app1', 'text', 0, None, 0), (309, 'server309app1', 'text', 0, None, 0), (310, 'server310app1', 'text', 0, None, 0), (311, 'server311app1', 'text', 0, None, 0), (312, 'server312app1', 'text', 0, None, 0), (313, 'server313app1', 'text', 0, None, 0), (314, 'server314app1', 'text', 0, None, 0), (315, 'server315app1', 'text', 0, None, 0), (316, 'server316app1', 'text', 0, None, 0), (317, 'server317app1', 'text', 0, None, 0), (318, 'server318app1', 'text', 0, None, 0), (319, 'server319app1', 'text', 0, None, 0)]
('100', '108', '1017', '1030', '1036', '1046', '1058', '1077', '1088', '1095', '10102', '10111', '10123', '10137', '10140', '10149', '10156', '10165', '10175', '10190', '10199', '10207', '10220', '10236', '10244', '10254', '10260', '10270', '10280', '10291', '10311', '10317', '10325', '10331', '10341', '10344', '10351', '10360', '10365', '10376', '10388', '10398', '10407', '10419', '10426', '10437', '10452', '10464', '10471', '10480', '10494', '10504', '10512', '10526', '10535', '10547', '10550', '10560', '10567', '10574', '10586', '10597', '10604', '10624', '10632', '10637', '10653', '10664', '10673', '10688', '10699', '10706', '10716', '10728', '10737', '10742', '10757', '10774', '10783', '10792', '10797', '10807', '10819', '10829', '10835', '10842', '10852', '10856', '10864', '10871', '10880', '10891', '10902', '10913', '10920', '10935', '10943', '10959', '10968', '10984', '10991', '10999', '101009', '101020', '101035', '101047', '101057', '101068', '101078', '101090', '101096', '101108', '101117', '101126', '101137', '101141', '101152', '101166', '101178', '101189', '101201', '101210', '101224', '101227', '101233', '101244', '101255', '101262', '101274', '101286', '101298', '101306', '101313', '101323', '101336', '101345', '101353', '101361', '101373', '101379', '101388', '101404', '101414', '101419', '101428', '101441', '101449', '101459', '101467', '101478', '101486', '101495', '101508', '101519', '101527', '101538', '101550', '101563', '101575', '101590', '101595', '101600', '101610', '101623', '101638', '101647', '101651', '101662', '101672', '101678', '101684', '101693', '101705', '101711', '101719', '101727', '101735', '101749', '101756', '101763', '101774', '101778', '101788', '101796', '101810', '101815', '101824', '101834', '101842', '101853', '101866', '101881', '101883', '101894', '101899', '101912', '101921', '101930', '101934', '101946', '101953', '101959', '101965', '101973', '101988', '101997', '102004', '102015', '102019', '102025', '102035', '102045', '102054', '102061', '102064', '102070', '102077', '102090', '102103', '102113', '102125', '102134', '102144', '102156', '102166', '102172', '102178', '102186', '102195', '102208', '102215', '102223', '102237', '102246', '102257', '102270', '102281', '102287', '102292', '102306', '102311', '102324', '102335', '102342', '102350', '102358', '102370', '102375', '102386', '102396', '102407', '102417', '102431', '102438', '102448', '102460', '102467', '102476', '102491', '102504', '102513', '102525', '102531', '102541', '102549', '102559', '102568', '102583', '102591', '102603', '102614', '102630', '102635', '102644', '102653', '102659', '102670', '102677', '102683', '102687', '102697', '102706', '102721', '102733', '102744', '102752', '102759', '102770', '102781', '102790', '102795', '102806', '102816', '102825', '102834', '102844', '102850', '102859', '102865', '102876', '102882', '102896', '102903', '102921', '102932', '102938', '102940', '102948', '102959', '102968', '102976', '102983', '102992', '102997', '103009', '103015', '103024', '103030', '103040', '103050')

In [3]:
import pandas as pd
import numpy as np

db_paths = {
    'flow_ids': '/home/ubuntu/p4burst/data/distributions/cache_background_flow_ids_db_1.000000_flowmult_11.850000_intermult_0.db',
    'flow_size': '/home/ubuntu/p4burst/data/distributions/cache_background_flow_size_db_1.000000_flowmult_11.850000_intermult_0.db',
    'inter_arrival_time': '/home/ubuntu/p4burst/data/distributions/cache_background_inter_arrival_time_db_1.000000_flowmult_11.850000_intermult_0.db',
    'server_idx': '/home/ubuntu/p4burst/data/distributions/cache_background_server_idx_db_1.000000_flowmult_11.850000_intermult_0.db'
}

# Dictionary to store dataframes
dataframes = {}

# Process each database file
for aspect, db_path in db_paths.items():
    # Connect to the database
    conn = sqlite3.connect(db_path)
    
    # Extract the table name (assuming a single table in each db)
    cursor = conn.cursor()
    cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
    table_name = cursor.fetchone()[0]
    print(table_name)
    
    # Load the table into a DataFrame
    df = pd.read_sql_query(f"SELECT * FROM {table_name}", conn)
    dataframes[aspect] = df

    # Display first few rows
    print(f"{aspect} data:")
    print(df.head())
    
    # Close the connection
    conn.close()

    # Retrieve the specific column for this server's host ID
    # if 'server0app1' in df.columns:
    #     print(df['server0app1'].replace('', np.nan).dropna().tolist())
    # else:
    #     print('NO')

flow_ids
flow_ids data:
  server0app1 server1app1 server2app1 server3app1 server4app1 server5app1  \
0         100         108        1017        1030        1036        1046
1         101         109        1018        1031        1037        1047
2         102        1010        1019        1032        1038        1048
3         103        1011        1020        1033        1039        1049
4         104        1012        1021        1034        1040        1050

  server6app1 server7app1 server8app1 server9app1  ... server310app1  \
0        1058        1077        1088        1095  ...        102976
1        1059        1078        1089        1096  ...        102977
2        1060        1079        1090        1097  ...        102978
3        1061        1080        1091        1098  ...        102979
4        1062        1081        1092        1099  ...        102980

  server311app1 server312app1 server313app1 server314app1 server315app1  \
0        102983        102992        102997        103009        103015
1        102984        102993        102998        103010        103016
2        102985        102994        102999        103011        103017
3        102986        102995        103000        103012        103018
4        102987        102996        103001        103013        103019

  server316app1 server317app1 server318app1 server319app1
0        103024        103030        103040        103050
1        103025        103031        103041        103051
2        103026        103032        103042        103052
3        103027        103033        103043        103053
4        103028        103034        103044        103054

[5 rows x 320 columns]
flow_size
flow_size data:
  server0app1 server1app1 server2app1 server3app1 server4app1 server5app1  \
0        1334      256040        5645       29789         138          73
1        2710      648035     2942082         380        7571       62047
2        1180         484         340     3093182         483      417297
3         540     3088642        4209         541        2021         138
4         492      210616         375         340     3088642      210616

  server6app1 server7app1 server8app1 server9app1  ... server310app1  \
0      173238         492         490         344  ...           492
1        1507         346     1723202      311261  ...           540
2         352       34078     2803548     2803548  ...        210616
3         144     3405492      311261         540  ...          4209
4     2942082         712         490      282306  ...           344

  server311app1 server312app1 server313app1 server314app1 server315app1  \
0         34078            51          3138           340          2021
1           454       1723202           667       2802778           380
2           476           541           375         62047           712
3        360391        648035       2013392       3405492       1723202
4          1029           476        210616        149613         29789

  server316app1 server317app1 server318app1 server319app1
0       1641375        256040         62047       2013392
1           667        360391           454           490
2        311261           733        210616          2710
3           346        173238           346       1899433
4       1743320         96360        311261           540

[5 rows x 320 columns]
inter_arrival
inter_arrival_time data:
      server0app1     server1app1     server2app1     server3app1  \
0  0.214552127334  0.040532391654  0.073308783610  0.096549266754
1  0.680029284087  0.445396436634  0.027658026051  0.445396436634
2  0.116794284225  0.052772970871  0.272764892797  0.013241464322
3  0.021581301792  0.000938171131  0.002432207117  0.384948427327
4  0.052772970871  0.063601739178  0.029398067858  0.174559498488

      server4app1     server5app1     server6app1     server7app1  \
0  0.295550152206  0.136866109033  0.026993963703  0.031749177946
1  0.000938171131  0.181780439246  0.007374706659  0.384799149786
2  0.050673662421  0.001799605717  0.050673662421  0.097365980369
3  0.019101538666  0.284970172103  0.214552127334  0.036609762221
4  0.272764892797  0.038924599630  0.002033220679  0.036603292134

      server8app1     server9app1  ...   server310app1   server311app1  \
0  0.164189768541  0.000878078318  ...  0.202106767095  0.181780439246
1  0.473409173056  0.262764379702  ...  0.223669107247  0.000830265352
2  0.000270800600  0.639751399868  ...  0.111767615608  0.105694741102
3  0.153671388246  0.151436832259  ...  0.237531433394  0.425937235807
4  0.037186461229  0.000479007000  ...  0.082471008803  0.000781058362

    server312app1   server313app1   server314app1   server315app1  \
0  0.362222757949  0.000354690528  0.009958842731  0.137538035514
1  0.521992865305  0.105694741102  0.002288058515  0.213720735554
2  0.024481108876  0.362169410451  0.145445877227  0.000506618713
3  0.272764892797  0.000331973114  0.425937235807  0.123698240885
4  0.079503521850  0.005405472404  0.521992865305  0.000575397183

    server316app1   server317app1   server318app1   server319app1
0  0.059620449076  0.680029284087  0.009958842731  0.005769391463
1  0.193135936354  0.000203591071  0.193883824654  0.155148299028
2  0.295606748295  0.103138299135  0.123698240885  0.155048697874
3  0.237369154895  0.000506618713  0.123635096456  0.031120597450
4  0.025916326525  0.013585006201  0.137538035514  0.047872346242

[5 rows x 320 columns]
server_idx
server_idx data:
  server0app1 server1app1 server2app1 server3app1 server4app1 server5app1  \
0         255         225         262         209         113         156
1         161         143          99          52         254         311
2          11          31         295         290         111          31
3         259          76         156         191          11         278
4          52         210          96         154         104         171

  server6app1 server7app1 server8app1 server9app1  ... server310app1  \
0         193         276         219          84  ...           114
1           3         189          53         267  ...            65
2         179         164         181         149  ...            18
3          63         288          71         215  ...            48
4         269         209         218         234  ...           111

  server311app1 server312app1 server313app1 server314app1 server315app1  \
0            14            20           225             8           224
1           145           307            76           275            94
2            52           201           247           226            65
3            27           128            25           163           291
4            53           294            35           208            80

  server316app1 server317app1 server318app1 server319app1
0           283           286           270           237
1            14           270           139           275
2           106           200            95           280
3           245           132            22           156
4           290           206           146           303

[5 rows x 320 columns]

In [3]:
# import numpy as np
# # Stack the 'server_idx' DataFrame, convert values to integers, handle missing values, and sort them
# unique_values = (
#     dataframes['server_idx']
#     .replace('', np.nan)             # Replace empty strings with NaN
#     .stack()                         # Stack all columns into a single Series
#     .dropna()                        # Remove any NaN values if present
#     .astype(int)                     # Convert values to integers
#     .unique()                        # Get unique values
# )
# sorted_unique_values = sorted(unique_values)  # Sort the unique values
# sorted_unique_values

In [4]:
# test_name = 'data/distributions/cache_background_server_idx_db_1.000000_flowmult_11.850000_intermult_0.db'
# conn = sqlite3.connect(test_name)
# cursor = conn.cursor()
# cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
# table_name = cursor.fetchone()[0]
# print(table_name)

## Cache Background

In [13]:
import sqlite3
import pandas as pd
import random

# Define the target number of servers (K)
K = 10

# Define the path to save the new modified databases
output_dir = '/home/ubuntu/p4burst/data/distributions/'

# Load the original databases
db_paths = {
    'flow_ids': '/home/ubuntu/p4burst/data/distributions/cache_background_flow_ids_db_1.000000_flowmult_11.850000_intermult_0.db',
    'flow_size': '/home/ubuntu/p4burst/data/distributions/cache_background_flow_size_db_1.000000_flowmult_11.850000_intermult_0.db',
    'inter_arrival_time': '/home/ubuntu/p4burst/data/distributions/cache_background_inter_arrival_time_db_1.000000_flowmult_11.850000_intermult_0.db',
    'server_idx': '/home/ubuntu/p4burst/data/distributions/cache_background_server_idx_db_1.000000_flowmult_11.850000_intermult_0.db'
}

# Dictionary to store dataframes
dataframes = {}

# Process each database file
for aspect, db_path in db_paths.items():
    conn = sqlite3.connect(db_path)
    cursor = conn.cursor()
    cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
    table_name = cursor.fetchone()[0]
    
    # Load the table into a DataFrame
    df = pd.read_sql_query(f"SELECT * FROM {table_name}", conn)
    conn.close()  # Close the database connection
    
    # Keep only the first K columns
    df = df.iloc[:, :K]
    
    # If modifying server_idx, reassign server targets within K servers
    if aspect == "server_idx":
        for sender, col in enumerate(df.columns):
            new_targets = []
            for dst_server_idx in range(len(df[col])):
                if df[col][dst_server_idx] == '':
                    new_targets.append('')
                    continue
                # Exclude the current server as a target
                targets = list(range(K))
                targets.remove(sender)  # Modulo to prevent out-of-bounds
                new_targets.append(random.choice(targets))
            df[col] = new_targets  # Assign new target servers

    # Store the modified DataFrame in the dictionary
    dataframes[aspect] = df

# Save the modified DataFrames with the new file naming convention
for aspect, df in dataframes.items():
    output_db_path = f"{output_dir}cache_background_{aspect}_db_1.000000_flowmult_11.850000_intermult_0_{K}_servers.db"
    # Save to a new SQLite database
    conn = sqlite3.connect(output_db_path)
    df.to_sql(table_name, conn, if_exists='replace', index=False)
    conn.close()

print(f"New datasets saved in {output_dir} with filenames prefixed by '{K}_servers'")

New datasets saved in /home/ubuntu/p4burst/data/distributions/ with filenames prefixed by '10_servers'

In [5]:
import pandas as pd
import numpy as np

db_paths = dict()
for aspect, df in dataframes.items():
    db_paths[aspect] = f"{output_dir}cache_background_{aspect}_db_1.000000_flowmult_11.850000_intermult_0_{K}_servers.db"

# Dictionary to store dataframes
dataframes = {}

# Process each database file
for aspect, db_path in db_paths.items():
    # Connect to the database
    conn = sqlite3.connect(db_path)
    
    # Extract the table name (assuming a single table in each db)
    cursor = conn.cursor()
    cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
    table_name = cursor.fetchone()[0]
    print(table_name)
    
    # Load the table into a DataFrame
    df = pd.read_sql_query(f"SELECT * FROM {table_name}", conn)
    dataframes[aspect] = df

    # Display first few rows
    print(f"{aspect} data:")
    print(df.head())
    
    # Close the connection
    conn.close()

server_idx
flow_ids data:
  server0app1 server1app1 server2app1 server3app1 server4app1 server5app1  \
0         100         108        1017        1030        1036        1046
1         101         109        1018        1031        1037        1047
2         102        1010        1019        1032        1038        1048
3         103        1011        1020        1033        1039        1049
4         104        1012        1021        1034        1040        1050

  server6app1 server7app1 server8app1 server9app1  ... server310app1  \
0        1058        1077        1088        1095  ...        102976
1        1059        1078        1089        1096  ...        102977
2        1060        1079        1090        1097  ...        102978
3        1061        1080        1091        1098  ...        102979
4        1062        1081        1092        1099  ...        102980

  server311app1 server312app1 server313app1 server314app1 server315app1  \
0        102983        102992        102997        103009        103015
1        102984        102993        102998        103010        103016
2        102985        102994        102999        103011        103017
3        102986        102995        103000        103012        103018
4        102987        102996        103001        103013        103019

  server316app1 server317app1 server318app1 server319app1
0        103024        103030        103040        103050
1        103025        103031        103041        103051
2        103026        103032        103042        103052
3        103027        103033        103043        103053
4        103028        103034        103044        103054

[5 rows x 320 columns]
server_idx
flow_size data:
  server0app1 server1app1 server2app1 server3app1 server4app1 server5app1  \
0        1334      256040        5645       29789         138          73
1        2710      648035     2942082         380        7571       62047
2        1180         484         340     3093182         483      417297
3         540     3088642        4209         541        2021         138
4         492      210616         375         340     3088642      210616

  server6app1 server7app1 server8app1 server9app1  ... server310app1  \
0      173238         492         490         344  ...           492
1        1507         346     1723202      311261  ...           540
2         352       34078     2803548     2803548  ...        210616
3         144     3405492      311261         540  ...          4209
4     2942082         712         490      282306  ...           344

  server311app1 server312app1 server313app1 server314app1 server315app1  \
0         34078            51          3138           340          2021
1           454       1723202           667       2802778           380
2           476           541           375         62047           712
3        360391        648035       2013392       3405492       1723202
4          1029           476        210616        149613         29789

  server316app1 server317app1 server318app1 server319app1
0       1641375        256040         62047       2013392
1           667        360391           454           490
2        311261           733        210616          2710
3           346        173238           346       1899433
4       1743320         96360        311261           540

[5 rows x 320 columns]
server_idx
inter_arrival_time data:
      server0app1     server1app1     server2app1     server3app1  \
0  0.214552127334  0.040532391654  0.073308783610  0.096549266754
1  0.680029284087  0.445396436634  0.027658026051  0.445396436634
2  0.116794284225  0.052772970871  0.272764892797  0.013241464322
3  0.021581301792  0.000938171131  0.002432207117  0.384948427327
4  0.052772970871  0.063601739178  0.029398067858  0.174559498488

      server4app1     server5app1     server6app1     server7app1  \
0  0.295550152206  0.136866109033  0.026993963703  0.031749177946
1  0.000938171131  0.181780439246  0.007374706659  0.384799149786
2  0.050673662421  0.001799605717  0.050673662421  0.097365980369
3  0.019101538666  0.284970172103  0.214552127334  0.036609762221
4  0.272764892797  0.038924599630  0.002033220679  0.036603292134

      server8app1     server9app1  ...   server310app1   server311app1  \
0  0.164189768541  0.000878078318  ...  0.202106767095  0.181780439246
1  0.473409173056  0.262764379702  ...  0.223669107247  0.000830265352
2  0.000270800600  0.639751399868  ...  0.111767615608  0.105694741102
3  0.153671388246  0.151436832259  ...  0.237531433394  0.425937235807
4  0.037186461229  0.000479007000  ...  0.082471008803  0.000781058362

    server312app1   server313app1   server314app1   server315app1  \
0  0.362222757949  0.000354690528  0.009958842731  0.137538035514
1  0.521992865305  0.105694741102  0.002288058515  0.213720735554
2  0.024481108876  0.362169410451  0.145445877227  0.000506618713
3  0.272764892797  0.000331973114  0.425937235807  0.123698240885
4  0.079503521850  0.005405472404  0.521992865305  0.000575397183

    server316app1   server317app1   server318app1   server319app1
0  0.059620449076  0.680029284087  0.009958842731  0.005769391463
1  0.193135936354  0.000203591071  0.193883824654  0.155148299028
2  0.295606748295  0.103138299135  0.123698240885  0.155048697874
3  0.237369154895  0.000506618713  0.123635096456  0.031120597450
4  0.025916326525  0.013585006201  0.137538035514  0.047872346242

[5 rows x 320 columns]
server_idx
server_idx data:
  server0app1 server1app1 server2app1 server3app1 server4app1 server5app1  \
0         109          97         181          32          38         309
1         152           2         251          62         246         224
2         221          24          65         123          90         204
3          91         191         112         200         297         129
4         192         141         298         205         269         243

  server6app1 server7app1 server8app1 server9app1  ... server310app1  \
0          17         180         102         201  ...           274
1         166          56         143          55  ...           149
2         173         102         229         132  ...           215
3         117         182           7         138  ...           174
4         256         133         150         129  ...           239

  server311app1 server312app1 server313app1 server314app1 server315app1  \
0           112            91           301           101            90
1           141           102           284            68           138
2            84             8           233           154           299
3           183           124            77            54            20
4            84           241           116           170           215

  server316app1 server317app1 server318app1 server319app1
0           160           107             4           173
1            44            82           279           267
2           215            22            11           285
3            81           300            86           126
4           187           192           133           185

[5 rows x 320 columns]

In [47]:
dataframes['server_idx']

,server0app1,server1app1,server2app1,server3app1,server4app1,server5app1,server6app1,server7app1,server8app1,server9app1,...,server310app1,server311app1,server312app1,server313app1,server314app1,server315app1,server316app1,server317app1,server318app1,server319app1
0,125,200,92,86,294,215,287,240,33,32,...,233,102,193,230,207,319,157,184,297,26
1,197,60,285,54,228,173,239,238,274,165,...,169,281,114,138,255,46,61,143,132,118
2,11,28,135,236,26,246,42,70,63,307,...,126,99,146,233,186,281,166,256,296,218
3,100,149,228,319,130,309,54,150,221,116,...,38,230,278,314,122,87,124,177,276,213
4,65,47,168,173,1,72,212,80,58,239,...,246,275,281,296,152,138,279,46,58,215
5,77,54,11,190,163,221,98,222,58,210,...,152,46,,96,267,213,211,78,112,218
6,109,226,279,,237,226,70,136,221,277,...,74,91,,171,,79,,92,202,183
7,45,178,82,,165,276,279,68,,,...,,230,,58,,114,,63,35,315
8,,274,53,,274,182,283,63,,,...,,237,,20,,99,,142,96,
9,,,211,,286,201,249,250,,,...,,,,15,,,,309,84,
10,,,291,,,90,216,17,,,...,,,,22,,,,,,
11,,,74,,,211,143,,,,...,,,,225,,,,,,
12,,,154,,,,219,,,,...,,,,,,,,,,
13,,,,,,,10,,,,...,,,,,,,,,,
14,,,,,,,129,,,,...,,,,,,,,,,
15,,,,,,,307,,,,...,,,,,,,,,,
16,,,,,,,276,,,,...,,,,,,,,,,
17,,,,,,,286,,,,...,,,,,,,,,,
18,,,,,,,35,,,,...,,,,,,,,,,
19,,,,,,,,,,,...,,,,,,,,,,

In [48]:
flow_data = []
db_path = 'data/distributions'

# Determine the column name based on the host ID
server_column = f"server2app1"  # Convert host_id hX to serverXapp0

# Construct the file paths based on the specified format
db_params = {
    "server_indices": "server_idx",
    "inter_arrival_times": "inter_arrival_time",
    "flow_sizes": "flow_size",
    "flow_ids": "flow_ids"
}

db_tables = {
    "server_indices": "server_idx",
    "inter_arrival_times": "inter_arrival",
    "flow_sizes": "flow_size",
    "flow_ids": "flow_ids"
}

# Load each parameter from its corresponding database file
data = {}
for (param_name, db_name), db_col in zip(db_params.items(), db_tables.values()):
    file_path = f"cache_background_{db_name}_db_" \
                f"{float(1):.6f}_flowmult_" \
                f"{float(11.85):.6f}_intermult_0_" \
                f"4_servers.db"
    try:
        conn = sqlite3.connect(os.path.join(db_path, file_path))
        print(file_path)
        cursor = conn.cursor()
        cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
        table_name = cursor.fetchone()[0]

        # Retrieve only the specific column for this server's host id
        df = pd.read_sql_query(f"SELECT * FROM {table_name}", conn)
        conn.close()
    except:
        raise ValueError(f"Error loading data from {file_path}")

    # Retrieve the specific column for this server's host ID
    if server_column in df.columns:
        data[param_name] = df[server_column].replace('', np.nan).dropna().tolist()
    else:
        raise ValueError(f"Column {server_column} not found in {file_path}")
    
# Combine the data from each database into flow data entries
for flow_id, (inter_arrival_time, flow_size, server_idx) in enumerate(
        zip(data["inter_arrival_times"], data["flow_sizes"], data["server_indices"])):
    flow_data.append({
        'flow_id': flow_id,
        'inter_arrival_time': inter_arrival_time,
        'flow_size': flow_size,
        'server_idx': server_idx  # Destination server
    })

cache_background_server_idx_db_1.000000_flowmult_11.850000_intermult_0_4_servers.db
cache_background_inter_arrival_time_db_1.000000_flowmult_11.850000_intermult_0_4_servers.db
cache_background_flow_size_db_1.000000_flowmult_11.850000_intermult_0_4_servers.db
cache_background_flow_ids_db_1.000000_flowmult_11.850000_intermult_0_4_servers.db

## Web Bursty

In [10]:
import sqlite3
import pandas as pd
import random

# Define the target number of servers (K)
K = 8

# Define the path to save the new modified databases
output_dir = '/home/ubuntu/p4burst/data/distributions/'

# Load the original databases
db_paths = {
    'flow_ids': '/home/ubuntu/p4burst/data/distributions/web_bursty_flow_ids_db_1.000000_flowmult_0.110000_intermult_40_flows_per_incast_20000_incast_flow_size_0.db',
    'query_ids': '/home/ubuntu/p4burst/data/distributions/web_bursty_query_ids_db_1.000000_flowmult_0.110000_intermult_40_flows_per_incast_20000_incast_flow_size_0.db',
    'inter_arrival_time': '/home/ubuntu/p4burst/data/distributions/web_bursty_inter_arrival_time_db_1.000000_flowmult_0.110000_intermult_40_flows_per_incast_20000_incast_flow_size_0.db',
    'server_idx': '/home/ubuntu/p4burst/data/distributions/web_bursty_server_idx_db_1.000000_flowmult_0.110000_intermult_40_flows_per_incast_20000_incast_flow_size_0.db'
}

# Dictionary to store dataframes
dataframes = {}

# Process each database file
for aspect, db_path in db_paths.items():
    conn = sqlite3.connect(db_path)
    cursor = conn.cursor()
    cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
    table_name = cursor.fetchone()[0]
    
    # Load the table into a DataFrame
    df = pd.read_sql_query(f"SELECT * FROM {table_name}", conn)
    conn.close()  # Close the database connection
    
    # Keep only the first K columns
    df = df.iloc[:, :K]
    
    # If modifying server_idx, reassign server targets within K servers
    if aspect == "server_idx":
        for sender, col in enumerate(df.columns):
            new_targets = []
            for dst_server_idx in range(len(df[col])):
                if df[col][dst_server_idx] == '':
                    new_targets.append('')
                    continue
                # Exclude the current server as a target
                targets = list(range(K))
                targets.remove(sender)  # Modulo to prevent out-of-bounds
                new_targets.append(random.choice(targets))
            df[col] = new_targets  # Assign new target servers

    # Store the modified DataFrame in the dictionary
    dataframes[aspect] = df

# Save the modified DataFrames with the new file naming convention
for aspect, df in dataframes.items():
    output_db_path = f"{output_dir}web_bursty_{aspect}_db_1.000000_flowmult_0.110000_intermult_40_flows_per_incast_20000_incast_flow_size_0_{K}_servers.db"
    # Save to a new SQLite database
    conn = sqlite3.connect(output_db_path)
    df.to_sql(table_name, conn, if_exists='replace', index=False)
    conn.close()

print(f"New datasets saved in {output_dir} with filenames prefixed by '{K}_servers'")

New datasets saved in /home/ubuntu/p4burst/data/distributions/ with filenames prefixed by '8_servers'

In [7]:
import pandas as pd
import numpy as np

db_paths = dict()
for aspect, df in dataframes.items():
    db_paths[aspect] = f"{output_dir}web_bursty_{aspect}_db_1.000000_flowmult_0.110000_intermult_40_flows_per_incast_20000_incast_flow_size_0_{K}_servers.db"

# Dictionary to store dataframes
dataframes = {}

# Process each database file
for aspect, db_path in db_paths.items():
    # Connect to the database
    conn = sqlite3.connect(db_path)
    
    # Extract the table name (assuming a single table in each db)
    cursor = conn.cursor()
    cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
    table_name = cursor.fetchone()[0]
    print(table_name)
    
    # Load the table into a DataFrame
    df = pd.read_sql_query(f"SELECT * FROM {table_name}", conn)
    dataframes[aspect] = df

    # Display first few rows
    print(f"{aspect} data:")
    print(df.head())
    
    # Close the connection
    conn.close()

server_idx
flow_ids data:
  server0app2 server1app2 server2app2 server3app2 server4app2 server5app2  \
0      114680      112280      115840      117600     1114480       11600
1      114681      112281      115841      117601     1114481       11601
2      114682      112282      115842      117602     1114482       11602
3      114683      112283      115843      117603     1114483       11603
4      114684      112284      115844      117604     1114484       11604

  server6app2 server7app2 server8app2 server9app2  ... server90app2  \
0      112640     1112960      116000       11840  ...       113480
1      112641     1112961      116001       11841  ...       113481
2      112642     1112962      116002       11842  ...       113482
3      112643     1112963      116003       11843  ...       113483
4      112644     1112964      116004       11844  ...       113484

  server91app2 server92app2 server93app2 server94app2 server95app2  \
0       119280       118680       118200      1115320       119320
1       119281       118681       118201      1115321       119321
2       119282       118682       118202      1115322       119322
3       119283       118683       118203      1115323       119323
4       119284       118684       118204      1115324       119324

  server96app2 server97app2 server98app2 server99app2
0       112400       111520      1123840      1114640
1       112401       111521      1123841      1114641
2       112402       111522      1123842      1114642
3       112403       111523      1123843      1114643
4       112404       111524      1123844      1114644

[5 rows x 100 columns]
server_idx
query_ids data:
  server0app2 server1app2 server2app2 server3app2 server4app2 server5app2  \
0         117          57         146         190         362          15
1         385         926         429         242        1060         135
2         463        1379        1898         302        1208         850
3        1163        1386                     368        1467         877
4        1310        1849                     583        1486         895

  server6app2 server7app2 server8app2 server9app2  ... server90app2  \
0          66         324         150          21  ...           87
1         252         801         291         694  ...          499
2         852        1026         484        1219  ...          564
3                    1115         763        1226  ...          709
4                    1512        1014        1268  ...         1103

  server91app2 server92app2 server93app2 server94app2 server95app2  \
0          232          217          205          383          233
1          669          798          436          555          529
2          931          863          737         1306         1295
3         1195         1370          789         1309         1346
4         1209         1681         1433         2063         1391

  server96app2 server97app2 server98app2 server99app2
0           60           38          596          366
1          352          143          612          485
2         1232          319          629          613
3         1413          369          657          756
4                       582          708          838

[5 rows x 100 columns]
server_idx
inter_arrival_time data:
           server0app2         server1app2         server2app2  \
0  0.25262369834886333  0.2262767910852821  0.2610408776641066
1  0.25262369834886333  0.2262767910852821  0.2610408776641066
2  0.25262369834886333  0.2262767910852821  0.2610408776641066
3  0.25262369834886333  0.2262767910852821  0.2610408776641066
4  0.25262369834886333  0.2262767910852821  0.2610408776641066

           server3app2          server4app2          server5app2  \
0  0.28411987891507073  0.36200309618728915  0.20864475102084912
1  0.28411987891507073  0.36200309618728915  0.20864475102084912
2  0.28411987891507073  0.36200309618728915  0.20864475102084912
3  0.28411987891507073  0.36200309618728915  0.20864475102084912
4  0.28411987891507073  0.36200309618728915  0.20864475102084912

           server6app2          server7app2          server8app2  \
0  0.23093178082838628  0.33902433319872194  0.26162231645374645
1  0.23093178082838628  0.33902433319872194  0.26162231645374645
2  0.23093178082838628  0.33902433319872194  0.26162231645374645
3  0.23093178082838628  0.33902433319872194  0.26162231645374645
4  0.23093178082838628  0.33902433319872194  0.26162231645374645

          server9app2  ...         server90app2         server91app2  \
0  0.2110736266236331  ...  0.23889463085944584  0.29885768433878007
1  0.2110736266236331  ...  0.23889463085944584  0.29885768433878007
2  0.2110736266236331  ...  0.23889463085944584  0.29885768433878007
3  0.2110736266236331  ...  0.23889463085944584  0.29885768433878007
4  0.2110736266236331  ...  0.23889463085944584  0.29885768433878007

          server92app2         server93app2         server94app2  \
0  0.29442427669074217  0.29013401469900046  0.36928854836368924
1  0.29442427669074217  0.29013401469900046  0.36928854836368924
2  0.29442427669074217  0.29013401469900046  0.36928854836368924
3  0.29442427669074217  0.29013401469900046  0.36928854836368924
4  0.29442427669074217  0.29013401469900046  0.36928854836368924

         server95app2         server96app2         server97app2  \
0  0.3023301454319964  0.22708342129813458  0.21855158374151568
1  0.3023301454319964  0.22708342129813458  0.21855158374151568
2  0.3023301454319964  0.22708342129813458  0.21855158374151568
3  0.3023301454319964  0.22708342129813458  0.21855158374151568
4  0.3023301454319964  0.22708342129813458  0.21855158374151568

         server98app2         server99app2
0  0.4743717571505177  0.36361422952817607
1  0.4743717571505177  0.36361422952817607
2  0.4743717571505177  0.36361422952817607
3  0.4743717571505177  0.36361422952817607
4  0.4743717571505177  0.36361422952817607

[5 rows x 100 columns]
server_idx
server_idx data:
  server0app2 server1app2 server2app2 server3app2 server4app2 server5app2  \
0          88          88          15          56          55          21
1          44          43          89          24          33          88
2          92           2          29          74          32          66
3          53          44          57          62          56          31
4          60          83          64          10          35          24

  server6app2 server7app2 server8app2 server9app2  ... server90app2  \
0          33          42          32          27  ...            7
1          58          43          77           4  ...           69
2          75          49          78          75  ...           14
3          50           5          81          78  ...           42
4          78          59          59          66  ...           43

  server91app2 server92app2 server93app2 server94app2 server95app2  \
0           56           10           17           82           28
1           35           16           29           88           52
2           72           96           49           16           84
3           10           13           61           31           66
4           51           45           84           58           19

  server96app2 server97app2 server98app2 server99app2
0            4           74           71           45
1           73           83           99           20
2           17           43           38           85
3           53           92           88           53
4           63           40           46           49

[5 rows x 100 columns]

In [17]:
dataframes['inter_arrival_time']

,server0app2,server1app2,server2app2,server3app2,server4app2,server5app2,server6app2,server7app2,server8app2,server9app2,...,server90app2,server91app2,server92app2,server93app2,server94app2,server95app2,server96app2,server97app2,server98app2,server99app2
0,0.25262369834886333,0.2262767910852821,0.2610408776641066,0.28411987891507073,0.36200309618728915,0.20864475102084912,0.23093178082838628,0.33902433319872194,0.26162231645374645,0.2110736266236331,...,0.23889463085944584,0.29885768433878007,0.29442427669074217,0.29013401469900046,0.36928854836368924,0.3023301454319964,0.22708342129813458,0.21855158374151568,0.4743717571505177,0.36361422952817607
1,0.25262369834886333,0.2262767910852821,0.2610408776641066,0.28411987891507073,0.36200309618728915,0.20864475102084912,0.23093178082838628,0.33902433319872194,0.26162231645374645,0.2110736266236331,...,0.23889463085944584,0.29885768433878007,0.29442427669074217,0.29013401469900046,0.36928854836368924,0.3023301454319964,0.22708342129813458,0.21855158374151568,0.4743717571505177,0.36361422952817607
2,0.25262369834886333,0.2262767910852821,0.2610408776641066,0.28411987891507073,0.36200309618728915,0.20864475102084912,0.23093178082838628,0.33902433319872194,0.26162231645374645,0.2110736266236331,...,0.23889463085944584,0.29885768433878007,0.29442427669074217,0.29013401469900046,0.36928854836368924,0.3023301454319964,0.22708342129813458,0.21855158374151568,0.4743717571505177,0.36361422952817607
3,0.25262369834886333,0.2262767910852821,0.2610408776641066,0.28411987891507073,0.36200309618728915,0.20864475102084912,0.23093178082838628,0.33902433319872194,0.26162231645374645,0.2110736266236331,...,0.23889463085944584,0.29885768433878007,0.29442427669074217,0.29013401469900046,0.36928854836368924,0.3023301454319964,0.22708342129813458,0.21855158374151568,0.4743717571505177,0.36361422952817607
4,0.25262369834886333,0.2262767910852821,0.2610408776641066,0.28411987891507073,0.36200309618728915,0.20864475102084912,0.23093178082838628,0.33902433319872194,0.26162231645374645,0.2110736266236331,...,0.23889463085944584,0.29885768433878007,0.29442427669074217,0.29013401469900046,0.36928854836368924,0.3023301454319964,0.22708342129813458,0.21855158374151568,0.4743717571505177,0.36361422952817607
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
595,,,,,,,,,,,...,,,,,,,,,,
596,,,,,,,,,,,...,,,,,,,,,,
597,,,,,,,,,,,...,,,,,,,,,,
598,,,,,,,,,,,...,,,,,,,,,,
599,,,,,,,,,,,...,,,,,,,,,,

## Test background load computation

In [58]:
import sqlite3 
import pandas as pd 

def compute_background_load(db_params, n_hosts, host_to_switch_bw=10, switch_to_switch_bw=40, iat_scale_factor=1):
    """Compute background load percentage based on DB flow parameters."""
    # Load the database files
    db_paths = {
        aspect: f"data/distributions/cache_background_{db_name}_db_{1:.6f}_flowmult_{11.85:.6f}_intermult_0_{n_hosts}_servers.db"
        for aspect, db_name in db_params.items()
    }

    dataframes = {}

    # Process each database file
    for aspect, db_path in db_paths.items():
        # Connect to the database
        conn = sqlite3.connect(db_path)
        
        # Extract the table name (assuming a single table in each db)
        cursor = conn.cursor()
        cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
        table_name = cursor.fetchone()[0]
        # print(table_name)
        
        # Load the table into a DataFrame
        df = pd.read_sql_query(f"SELECT * FROM {table_name}", conn)
        dataframes[aspect] = df

        # Display first few rows
        # print(f"{aspect} data:")
        # print(df.head())
        
        # Close the connection
        conn.close()

    # Retrieve flow sizes and inter-arrival times
    flow_sizes_df = dataframes['flow_sizes']
    iat_df = dataframes['inter_arrival_times']

    total_traffic_rate_mbps = 0  # Total traffic rate in Mbps
    
    for server in flow_sizes_df.columns:
        flow_sizes = flow_sizes_df[server]
        iats = iat_df[server]

        # Compute traffic rate for each flow
        for flow_size, iat in zip(flow_sizes, iats):
            if flow_size and iat:  # Skip empty values
                if float(iat) > 0:  # Avoid division by zero
                    # Convert flow size to Mbps and adjust by multipliers
                    flow_size_bits = (float(flow_size) * 8)
                    traffic_rate_mbps = float(flow_size_bits) / (float(iat) * iat_scale_factor * 1e6)
                    total_traffic_rate_mbps += traffic_rate_mbps
        
    # Compute background load percentage
    host_to_switch_bw = host_to_switch_bw * 1e3  # Convert to Mbps
    switch_to_switch_bw = switch_to_switch_bw * 1e3  # Convert to Mbps
    total_capacity_mbps = 32 * switch_to_switch_bw + n_hosts * host_to_switch_bw
    print("No. Hosts", n_hosts)
    print("Host to Switch BW: ", host_to_switch_bw*1e-3, "Gbps")
    print("Switch to Switch BW: ", switch_to_switch_bw*1e-3, "Gbps")
    print("Total Workload Rate: ", total_traffic_rate_mbps*1e-3, "Gbps")
    print("Total Network Capacity: ", total_capacity_mbps*1e-3, "Gbps")
    background_load_percentage = (total_traffic_rate_mbps / total_capacity_mbps) * 100
    
    return background_load_percentage

# Example usage
# Construct the file paths based on the specified format
db_params = {
    "server_idx": "server_idx",
    "inter_arrival_times": "inter_arrival_time",
    "flow_sizes": "flow_size",
    "flow_ids": "flow_ids"
}

# filename = 'cache_background_inter_arrival_time_db_1.000000_flowmult_11.850000_intermult_0.db'

background_load = compute_background_load(db_params, n_hosts=100, host_to_switch_bw=1, switch_to_switch_bw=1)
print(f"Background Load: {background_load:.2f}%")

No. Hosts 100
Host to Switch BW:  1.0 Gbps
Switch to Switch BW:  1.0 Gbps
Total Workload Rate:  984.3705148727466 Gbps
Total Network Capacity:  132.0 Gbps
Background Load: 745.74%

In [46]:
def load_background_data(n_hosts):
    db_paths = {
        aspect: f"data/distributions/cache_background_{db_name}_db_{1:.6f}_flowmult_{11.85:.6f}_intermult_0_{n_hosts}_servers.db"
        for aspect, db_name in db_params.items()
    }

    dataframes = {}

    # Process each database file
    for aspect, db_path in db_paths.items():
        # Connect to the database
        conn = sqlite3.connect(db_path)
        
        # Extract the table name (assuming a single table in each db)
        cursor = conn.cursor()
        cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
        table_name = cursor.fetchone()[0]
        # print(table_name)
        
        # Load the table into a DataFrame
        df = pd.read_sql_query(f"SELECT * FROM {table_name}", conn)
        dataframes[aspect] = df

        # Display first few rows
        # print(f"{aspect} data:")
        # print(df.head())
        
        # Close the connection
        conn.close()
    return dataframes

In [ ]:
def scale_iat_for_background_load(flow_sizes, iats, total_capacity_gbps, target_background_load):
    """
    Scale inter-arrival times (IATs) to achieve the target background load percentage.

    Parameters:
        flow_sizes (pd.DataFrame): Flow sizes (bytes) for each server.
        iats (pd.DataFrame): Original inter-arrival times (seconds) for each server.
        total_capacity_gbps (float): Total network capacity in Gbps.
        target_background_load (float): Desired background load as a percentage (e.g., 50%).

    Returns:
        pd.DataFrame: Scaled inter-arrival times to achieve the target background load.
    """
    # Convert total capacity to Mbps
    total_capacity_mbps = total_capacity_gbps * 1e3

    # Compute the current total traffic rate (Mbps)
    current_traffic_rate_mbps = 0
    for server in flow_sizes.columns:
        for flow_size, iat in zip(flow_sizes[server], iats[server]):
            if flow_size and iat:  # Avoid missing values
                flow_size_mbps = (int(flow_size) * 8) / 1e6  # Convert flow size to Mbps
                if float(iat) > 0:
                    current_traffic_rate_mbps += float(flow_size_mbps) / float(iat)

    # Calculate the target total traffic rate (Mbps) based on the desired load
    target_traffic_rate_mbps = (target_background_load / 100) * total_capacity_mbps

    # Determine the scaling factor for IATs
    scaling_factor = current_traffic_rate_mbps / target_traffic_rate_mbps

    # Scale the IATs
    for server in iats.columns:
        iats[server] = iats[server].apply(lambda iat: float(iat) * scaling_factor if iat else iat)

    return iats, scaling_factor

# Example usage
n_hosts = 100
flow_data = load_background_data(n_hosts)
total_cap = 32 * 1 + n_hosts * 1
iat, scaling_factor = scale_iat_for_background_load(flow_data['flow_sizes'], flow_data['inter_arrival_times'],
                    total_capacity_gbps=total_cap, target_background_load=50)

# Verification
new_background_load = compute_background_load(db_params, n_hosts=n_hosts, iat_scale_factor=scaling_factor, host_to_switch_bw=1, switch_to_switch_bw=1)
print(f"New Background Load: {new_background_load:.2f}%")

No. Hosts 100
Host to Switch BW:  1.0 Gbps
Switch to Switch BW:  1.0 Gbps
Total Workload Rate:  65.99999999999993 Gbps
Total Network Capacity:  132.0 Gbps
New Background Load: 50.00%